*, *:before, *:after {box-sizing: border-box;}
html{height:100%;}
body{position:relative; min-height:100%;margin:90px 0 0;padding:0; font:13px 'Open Sans';color:#636366;background-color:#f6f6f6;}
body .jqstooltip{border:0;border-radius:2px;}
body.printing{height:100%}
a,img{text-decoration:none;border:0px;text-decoration:none;color:#4366A4;transition: color 0.2s linear 0s;}
a:hover{color:#DE5643;}
img { max-width: 100%; height: auto;width: auto\9;}
ul{padding:0;margin:0; list-style:none}
ul li{padding:0;margin:0;line-height:20px;}
h1{color: #A3A3A3;font: 28px/36px  'Open Sans', Arial,Helvetica,sans-serif;margin: 0 0 17px;}
h2{color: #464646;font: 21px/26px  'Open Sans',Arial,Helvetica,sans-serif;margin: 0 0 15px;}
h3{color: #464646;font: 17px/26px  'Open Sans',Arial,Helvetica,sans-serif;margin: 0 0 15px;}
hr {margin-bottom: 20px;}
button{padding:6px 12px;}

header{ background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);height: 90px;left: 0; position: fixed;right: 0;  top: 0;z-index: 99; transition: all 0.2s ease-out 0s;}
header:after { border-bottom: 2px solid rgba(0, 0, 0, 0.1);bottom: -2px; content: ""; left: 0;position: absolute; right: 0;}
header .logo{float:left;height:90px;padding:10px 0;}
header .logo a{text-decoration:none;line-height: 67px;}
header .logo a img{max-height: 67px;}
header .logo a h1{height: 30px; overflow: hidden; color:#0A4478; font:600 26px/30px 'Open Sans';margin:15px 0;}
header .menu{float:right;}
header .menu ul{padding:0;margin:0;list-style:none;}
header .menu ul li{float:left;padding:0;margin:0;}
header .menu ul li a{font:200 16px/90px 'open sans';color:#333;margin: 0 5px; padding:0 15px;position:relative;}
header .menu ul li a.active{border-color:[[setting:backgroundhead]];}
header .menu ul li a:hover{background:transparent}
header .menu ul li a:hover:before{border-top:3px solid [[setting:backgroundhead]];top: 0px; content: ""; left: 0;position: absolute; right: 0;}
header .menu ul li.logout{line-height: 90px;}
header .menu ul li.logout a{line-height:22px;background: none repeat scroll 0 0 #09b39c; border-bottom: 2px solid #089b87;  border-radius: 5px; color: #fff; display: inline-block; padding: 4px 20px; text-align: center; transition: background-color 0.2s linear 0s;}
header .menu ul li.logout a:hover{background: none repeat scroll 0 0 #0acbb1;}
header .menu ul li.logout a:hover:before{border-top:0;}
header .menu ul li.signup{line-height: 90px;}
header .menu ul li.signup a{line-height:22px;background:transparent; border: 1px solid #089b87;  border-radius: 5px; color: #089b87; display: inline-block; padding: 4px 20px; text-align: center; transition: background-color 0.2s linear 0s;}
header .menu ul li.signup a:hover{background: none repeat scroll 0 0 #089b87; color: #fff;}
header .menu ul li.signup a:hover:before{border-top:0;}
header .user{float:right;}
header .user .dropdown-toggle{padding:0 15px;line-height:90px;font: 200 16px/90px open sans;color: #333; cursor: pointer;}
header .user .dropdown-toggle img{width:45px;margin-right: 10px;}
header .user .dropdown-toggle .caret {border-left: 4px solid transparent;border-right: 4px solid transparent;border-top: 4px solid #333;display: inline-block;height: 0;margin-left: 2px;vertical-align: 3%;width: 0;}
header .user .dropdown-menu a{padding: 3px 20px;font-size:14px;line-height: 1.82857;}
header .user .dropdown-menu a:hover{color:#333;background:#f5f5f5;}

.background-content{height: 100%; margin: 0px auto; left: 0px; right: 0px; position: fixed; z-index: -1;}
.background-content .inner{background-color: rgb(255, 255, 255); height: 100%;}

footer{width: 100%; position: absolute;bottom: 0; background-color: [[setting:backgroundfoot]]; padding: 1.2em 0;text-align:center;  }
footer .copyright{float:right;font:13px/46px 'Open Sans';color:#fff;}
footer .footnote{float:left;font:13px/46px 'Open Sans';color:#fff;}
footer .menu{float:left;}
footer .menu ul{padding:0;margin:0;list-style:none;}
footer .menu ul li{float:left;padding:5px;}
footer .menu ul li a{font:13px 'Open Sans';color:#fff;}
footer .menu ul li a:hover{background-color:transparent;}

.inner{ margin: 0 auto;max-width: 1200px;position: relative;width:90%;}
.page {padding:25px 25px 90px}
.page .side-pre{width: 23.0769%;float:left}
.page .side-post{width: 23.0769%;float:right}
.page > .content{width: 100%;}
.page .content.bothside{width: 48.7179%;float:left;margin: 0 2.56%;}
.page .content.leftside{width: 74.359%;float:right;}
.page .content.rightside{width: 74.359%;float:left;}
.page .home-intro{color: #464646;font:200 17px/40px  'Open Sans',Arial,Helvetica,sans-serif;margin:0;text-align:center}

.home-user{padding-top:50px;}
.home-user .avatar{width:100px;float:left;}
.home-user .info{margin-left:15px; float:left;padding:5px;}
.home-user .info strong{font:600 21px 'Open Sans';color:#fff;margin-bottom:5px;}
.home-user .info p{font:14px 'Open Sans';color:#fff;margin:0;}

.head{height:130px;background:url([[pix:theme|mapbg]]) no-repeat center center [[setting:backgroundhead]];-webkit-background-size: 1248px 616px;background-size: 1248px 616px;transition:all 0.8s ease-in-out;}
.head:hover {background-size:1000px 494px;-ms-background-size:1248px 616px;-webkit-background-size:1000px 494px;}
.head.full{height:360px;}
.head .home-form{width:35%;float:left; background-color: rgba(255, 255, 255, 0.2); border-radius: 5px;margin: 60px 0 0 50px; padding: 30px;box-sizing: border-box;}
.head .home-form h2{color:#fff;}
.head .home-form a{color:#fff;line-height: 34px;}
.head .home-form button{float:right;margin: 0;background:#fff;}
.head .home-form button:hover{opacity:0.9;}
.head .home-form input{width:100%;max-width: 100%; margin-bottom:15px;box-sizing: border-box;border: 0 none;box-shadow: none; border-radius: 2px;color: #666; font: 14px 'Open Sans';outline: medium none; padding: 10px 15px;width: 100%;height:auto;}
.head .home-wellcome{margin: 47px 0 0; color:#fff;text-transform:uppercase;}
.head .home-text{width:50%;float:right;margin-top: 100px;margin-right:50px;}
.head .home-text h1{color:#fff;}
.head .home-text h3{color:#fff;}
.head .home-text .button{background-color: transparent; border: 2px solid #fff; border-radius: 3px; color: #fff; display: inline-block; padding: 5px 10px; text-decoration: none;}
.head .home-text .button:hover{color: [[setting:backgroundhead]];background-color:#fff;border:2px solid #fff;}
.head .pathway{padding-top:48px;}
.head .pathway .breadcrumb{background-color: transparent;color: #fff;font:16px 'Open Sans';}
.head .pathway .breadcrumb a{font:16px 'Open Sans'; color:#fff;}
.head .pathway .breadcrumb-nav{margin:0}
.head .pathway .breadcrumb{padding-left:0;padding-right:0;}
.head .pathway .singlebutton div{margin:0;}
.head .pathway input[type="submit"]{background:#fff;border-color:#ccc;padding:6px 12px;}
.head .pathway input[type="submit"]:hover{opacity:0.9;}


.breadcrumb > li + li::before {color: #ccc;content: "/ ";padding: 0 5px;}
.breadcrumb > li > .divider{display:none;}
.breadcrumb > li{text-shadow:none;}

#dndupload-status{z-index:1;}
nav.course-module-nav{float:right;}
nav.course-module-nav a {color:#666;line-height:26px;text-decoration:none;font-size:14px;padding:0 5px;}
nav.course-module-nav a.fa-arrow-left {margin-right:5px;}


.course-content > ul{position: relative;background:url([[pix:theme|topicsline]]) repeat-y 50px 50px;}
.course-content ul li.section:last-child{ padding-bottom: 0;}
.course-content ul li.section .content, .course-content ul.weeks li.section .content{margin-left: 0px;margin-right:0px;}
.course-content ul li.section.main {border:0;}
.course-content ul.section{margin:0;}
.course-content img.iconlarge {height: 32px;vertical-align: middle;width: 32px;}
.course-content .section .activity .mod-indent-outer {padding-left: 35px;}
.course-content .section .cm-star{ top: 5px;}
.course-content .section li.activity{ background:url([[pix:theme|topicline]]) no-repeat 46px bottom; padding: 10px 0 20px;margin:0}
.course-content .completionprogress{display:none;}
.course-content  .section .activity .editing_move {top:5px;left:7px;}
.course-content ul li.section .content .sectionname {position:relative;color: #555;font-size: 21px;padding: 10px 45px 10px 75px;text-transform: uppercase;background-color: #F5F5F5; border:1px solid #ddd; border-radius:3px;overflow:hidden;text-overflow:ellipsis;}
.editing .course-content ul li.section .content .sectionname {padding-right:110px;}
.course-content ul li.section .activity-duedate  span{font-weight:bold;}
.course-content ul li.section .activity-duedate {font:11px 'Open Sans';color:#8B95A2;padding-left: 50px;margin-top: -5px;}
.course-content ul li.section .summary.summary {margin-left:85px;}
.course-content #section-0{display:none;}
.course-content .activity img.activityicon {margin-right: 18px;}
.course-content .section .activity .contentwithoutlink , .section .activity .availabilityinfo, .section .activity .contentafterlink {margin-left: 50px;}
.course-content .section .activity .contentwithoutlink, .section .activity .activityinstance  a{text-decoration:none;}
.course-content .current{background:none;}
.course-content ul.topics li.section .content, .course-content ul.weeks li.section .content{margin:0;}
.course-content ul li.section .right.right{padding-right: 45px;padding-top: 16px;width: auto;position:absolute;right:0;}
.course-content ul li.section .left.left{padding-top: 15px;padding-left:15px;width: auto;position:absolute;z-index: 1;}
.course-content ul li.section .right > br{display:none;}
.course-content ul li.section .right > a{position: relative;z-index: 1;}

.header-menu-toggle{display:none;float:right; margin: 30px 0 0; width:42px;height:32px;text-align:center;  border:1px solid rgba(0,0,0,0.3);border-radius:3px;cursor:pointer;}
.header-menu-toggle i{color:#666;font-size:17px;line-height:32px;}
.header-menu-toggle:hover{border-color:rgba(0,0,0,0.4);}
.header-menu-toggle:hover i{color:#000;}

.preview .left{float: left;margin-right: 3%; margin-left:7%;max-width: 30%;}
.preview .right{float: left;width:60%;}
.preview .right strong{font-size:26px;font-weight:700;}
.preview .right p{font-size:24px;}

.dropdown-menu{right:0;left:auto;}

.clean {background-position: -253px 0;}
.clean-sidebar {margin-left: -253px;}
.clear{clear:both;float:none;}
.clearfix {*zoom: 1;}
.clearfix:before,
.clearfix:after{display: table;line-height: 0;content: "";}
.clearfix:after{clear: both;}
.transition{
	transition: all 5s;
	transition: background 0.3s ease-out 0s;
	transition: background-position 0.2s ease-out 0s, color 0.2s ease-out 0s;
	transition: opacity 0.3s ease-out 0s;
	transition:border-color 0.3s linear;
	transition: color 0.2s linear 0s;
}
.course_category_tree{margin-top:10px;}

.course-content .tabs {background-color: #fff;box-shadow:0 0 4px #ccc;border-radius: 3px; min-width: 150px;position: absolute;top: 40px; left:15px;z-index: 1;display:none;padding:10px;}
.course-content .tabs.active {display:block;}
.course-content .tabs li{padding: 5px;cursor:pointer;line-height: 14px;display:block;}
.course-content .tabs li:hover{text-decoration:underline;}
.course-content .dropdown{font-size: 14px;left: 38px;line-height: 13px;padding: 5px; position: absolute;top: 12px;cursor:pointer;color:#777;}
.course-content .dropdown:hover,..course-content .dropdown.active{color:#222;}

.course-content .show-activity{border: 1px solid #bbb;border-radius: 50%;font-size: 20px;right: 13px;line-height: 13px;padding: 5px; position: absolute;top: 12px;cursor:pointer;}
.course-content .show-activity.fa-angle-up{padding:5px 5px 8px;line-height:10px;}
.course-content ul li.section{position:relative;margin:0;}
.courses .coursebox.collapsed, .courses .coursebox.loaded { border: 1px solid #ddd; border-radius: 4px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);margin-bottom: 20px;padding:0;}
.courses .coursebox .moreinfo, .courses .coursebox .content { padding: 10px;}
.courses .coursebox .coursename { background-color:#f5f5f5; padding: 10px 15px; border-top-left-radius: 3px;border-top-right-radius: 3px;}
.courses .coursebox .enrolmenticons{margin-bottom: 10px; margin-right: 10px;}


.choosercontainer #chooseform .option span.modicon img.icon, .choosercontainer #chooseform .nonoption span.modicon img.icon{height:auto;width:38px;}
.choosercontainer #chooseform .moduletypetitle, .choosercontainer #chooseform .option, .choosercontainer #chooseform .nonoption{float:left;width:23%;padding:0 10px;margin:1%;}
.choosercontainer #chooseform .moduletypetitle{clear: both;width: 100%;text-align:center;font: 16px open sans; padding: 10px;margin:0;box-shadow:0 0 10px 0 #ccc;}
.choosercontainer #chooseform .moduletypetitle label{font-weight:normal;margin:0;}
.choosercontainer #chooseform .option input[type="radio"], .choosercontainer #chooseform .option span.typename, .choosercontainer #chooseform .option span.modicon{width:100%;float:left;font:12px Open Sans;padding:5px 0;text-align:center;}
.jsenabled .choosercontainer #chooseform .instruction, .jsenabled .choosercontainer #chooseform .typesummary{display:none!important;}
.choosercontainer #chooseform .option input[type="radio"]{display:none;}
.jsenabled .choosercontainer #chooseform .alloptions{max-width:100%;padding:10px;box-shadow:none;}
.choosercontainer #chooseform .option label{cursor:pointer;padding:7px 0 0;}
.choosercontainer #chooseform .option:hover{background-color: #fff; box-shadow: 0 0 10px 0 #ccc;}
.choosercontainer #chooseform .option label::after{clear: both; content: ""; display: block; height: 0;}
.choosercontainer #chooseform .submitbuttons{background-color:#f5f5f5;padding:0.7em 0;margin:0;}
.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd, .moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd.yui3-widget-hd{background:#f5f5f5;border-radius:0;text-shadow:none;font:16px open sans;padding:10px;}
.moodle-dialogue-base .moodle-dialogue-wrap{border-radius:4px;}
.chooserdialogue .moodle-dialogue-wrap .moodle-dialogue-bd{background:#fff;}
.moodle-dialogue-hd h3{margin:0;}

.front .courses .paging {clear: both;}
.front .courses .coursebox{border:0 none;border-bottom:1px solid #ddd;padding:0;border-radius:0;background-color:#fff;float: left;height: auto; margin: 10px 0;min-height: 320px;max-width: 480px; overflow: hidden; position: relative;text-align: center;width:23.5%;transition:all 0.5s;}
.front .courses .coursebox:hover {background-color: [[setting:backgroundcourse]];border-bottom-color:[[setting:backgroundcourse]];}
.front .courses .coursebox:hover h3 a,.front .courses .coursebox:hover h4,.front .courses .coursebox:hover span{color:#fff;}
.front .courses .coursebox .progres-bar{width:100%;height:5px;background-color:#ddd;margin-top:22px;transition:all 0.5s;margin-bottom:3px;clear:both;}
.front .courses .coursebox .progres-bar .progres{height:100%;background-color:#00a65a;transition:all 0.5s;}
.front .courses .coursebox:hover .progres-bar{background-color:#b0b0b0;}
.front .courses .coursebox:hover .progres-bar .progres{background-color:#fff;}
.front .courses .coursebox .course-done {  background-color: rgba(0, 0, 0, 0.6); border: 0 none; border-radius: 50%; color: #fff;  font-size: 18px; left: 15px; padding: 8px; position: absolute; top: 15px;}
.front .courses .coursebox .user-progress{padding:0 15px 15px;}
.front .courses .coursebox span{transition:all 0.5s;font:14px Open Sans;}
.front .courses .coursebox span.name{float:left;}
.front .courses .coursebox span.procent{float:right;}
.front .courses .coursebox:not(:nth-child(4n)){margin-right: 2%;}
.front .courses .coursebox h4.course-teacher{margin: 0; padding: 0 15px 15px;line-height:19px;width: 100%;text-align: left;transition:all 0.5s;font:14px Open Sans;min-height:35px;}
.front .courses .coursebox h4.course-users{margin: 0; padding: 0 15px 15px;line-height:19px;width: 100%;text-align: left;transition:all 0.5s;font:14px Open Sans;min-height:35px;}
.front .courses .coursebox h3.coursename{margin: 0; padding: 15px;line-height:19px;width: 100%;text-align: left;min-height:75px;background-color:transparent;}
.front .courses .coursebox h3 a{color:#333;font:14px Open Sans;}
.front .courses .coursebox > a{display: block;position:relative;overflow:hidden;height:175px;}
.front .courses .coursebox > a:after{content:'';display:block;width:40px;height:40px;transition:all 0.5s;background:url([[pix:theme|plus-icon]]) no-repeat scroll center center rgba(0,0,0,0);position:absolute;top:0;left:0;bottom:0;right:0;margin:auto;opacity:0;}
.front .courses .coursebox > a:before{content:'';display:block;width:100%;height:100%;transition:all 0.5s;background-color:rgba(0,0,0,0.4);position:absolute;top:0;left:0;opacity:0;}
.front .courses .coursebox:hover > a:after{opacity:1;transform:rotate(90deg);}
.front .courses .coursebox:hover > a:before{opacity:1;}

.front.rightside .courses .coursebox{width:32%;}
.front.rightside .courses .coursebox:not(:nth-child(4n)){margin-right: 0;}
.front.rightside .courses .coursebox:not(:nth-child(3n)){margin-right: 2%;}

.block { background-color: #fff;padding:0;}
.block .header {border-bottom: 1px solid transparent;border-top-left-radius: 3px;border-top-right-radius: 3px;padding: 10px 15px;position: relative;background-color: #f5f5f5;color:#333;}
.block .header h2 {color: inherit;font-size: 14px;font-weight: 400;line-height: 16px;padding: 0;text-transform: none;}
.block .header .block_action{padding:0;}
.block .header .block_action img { margin: 0 2px;vertical-align: baseline;display:inline-block;}
.block .singleselect,.block select,.block.block.block input{width:100%;max-width:100%!important;margin-left:0;margin-right:0;}

img.iconsmall {padding:0 2px 0 0;}
.section .editing_title .iconsmall{padding:0;}
.editing .block .header .commands{padding: 3px 0 3px 15px;}
.block_course_overview .coursebox{padding:0;padding-bottom:15px;border-radius:0;border:0 none;border-bottom: 1px dotted #ddd;}
.block_course_overview .content{margin-top:15px;margin-left:0;margin-right:0;}

/* START tabs */
.front .coursesearch{position:absolute;top:0;right:0;}
.front .coursesearch .select{/* left: 0; position: absolute;  */cursor:pointer;width: 150px;padding: 5px 8px;margin:0;height:auto;display:block;float:right;}
.front .coursesearch .shortsearchbox{transition: opacity 0.5s ease 1s,visibility 0s linear 1.5s;visibility:hidden;height:auto;padding: 5px 8px;min-width: 150px;box-shadow:none;line-height:18px;float: left; margin-bottom: 0; opacity: 0; position: relative;}
.front .coursesearch #shortsearchbutton{display:none;}
.front .coursesearch label{margin: 0 5px; padding:5px 10px;line-height: 18px;border-radius: 4px;border: 1px solid transparent;display:inline-block;}
.front .coursesearch label:hover{border-color:#ccc;}
.front .coursesearch label:hover ~ .shortsearchbox{opacity:1;transition: opacity 0.5s ease 0.3s,visibility 0s ease 0.2s;visibility:visible;}
.front .coursesearch .shortsearchbox:focus{box-shadow:none;opacity:1;visibility:visible;}

#region-main.front {position:relative;}
#region-main.front .skip-block-to{display:none;}
#region-main.front .paging-morelink{ background-color: #eee; padding: 10px 0; text-align: center;}
#region-main.front .paging-morelink a{color:#333;cursor:pointer;}
#region-main.front input.for-tab { display:none;}
#region-main.front > label { display: inline-block; padding:6px 15px;margin-bottom:-1px; font-weight: 600; text-align: center; color: #bbb; border: 1px solid transparent; float:left; position:relative; z-index:2;  /* background-color:#fff; */ }
#region-main.front fieldset > label { font-size: 14px;font-weight:normal;}
#region-main.front h2{margin:0;display:block;font: 14px/20px "Open Sans",Arial,Helvetica,sans-serif;}
#region-main.front #frontpage-category-combo .course_category_tree,
#region-main.front #frontpage-category-names .course_category_tree{margin-top:0;}
#region-main.front label:hover { cursor: pointer;}
#region-main.front input:checked + label { color: #555; border: 1px solid #ddd; border-top: 2px solid [[setting:backgroundcourse]]; border-bottom: 2px solid #fff; }
#region-main.front .tab-content #frontpage-course-enroll-list,
#region-main.front .tab-content #frontpage-course-all-list,
#region-main.front .tab-content #frontpage-category-names,
#region-main.front .tab-content #frontpage-category-combo,
#region-main.front .tab-content #site-news-forum{border-top:1px solid #ddd;padding:10px 0;width:100%;}

#region-main.front #tab2:checked ~ .tab-content #frontpage-course-enroll-list,
#region-main.front #tab3:checked ~ .tab-content #frontpage-course-all-list,
#region-main.front #tab4:checked ~ .tab-content #frontpage-category-names,
#region-main.front #tab5:checked ~ .tab-content #frontpage-category-combo,
#region-main.front #tab1:checked ~ .tab-content #site-news-forum{ display: block;}

#region-main.front .tab-content #frontpage-course-all-list,
#region-main.front .tab-content #frontpage-course-enroll-list,
#region-main.front .tab-content #frontpage-category-names,
#region-main.front .tab-content #site-news-forum,
#region-main.front .tab-content #frontpage-category-combo{display:none;}
#region-main.front .tab-content .courses {text-align:center;}
#region-main.front .tab-content .search:before{content:url([[pix:theme|spinner2]]);display: inline-block; margin-top: 25px;padding: 25px 0;}
#region-main.front #site-news-forum .subscribelink{float:right;}

 #region-main.front .tab-content .coursebox.last ~ .coursebox{ opacity:0;transition: opacity 2s ease 0s; } 
@-webkit-keyframes animation { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 200, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 200, 0, 1); }
  2.5% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 128.825, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 128.825, 0, 1); }
  5.01% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 79.69, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 79.69, 0, 1); }
  10.01% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 26.292, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 26.292, 0, 1); }
  15.02% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 6.125, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 6.125, 0, 1); }
  20.02% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.011, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.011, 0, 1); }
  25.63% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1.154, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1.154, 0, 1); }
  60.06% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  65.67% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.001, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.001, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes animation { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 200, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 200, 0, 1); }
  2.5% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 128.825, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 128.825, 0, 1); }
  5.01% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 79.69, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 79.69, 0, 1); }
  10.01% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 26.292, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 26.292, 0, 1); }
  15.02% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 6.125, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 6.125, 0, 1); }
  20.02% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.011, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.011, 0, 1); }
  25.63% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1.154, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1.154, 0, 1); }
  60.06% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  65.67% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.001, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.001, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

.loginpanel input[type="text"], .loginpanel input[type="submit"]{max-width:100%;width:100%;}
.loginpanel .forgetpass, .loginpanel .rememberpass{margin-top:10px;}
.loginpanel .loginerrors{margin-bottom:10px;}
.loginbox .loginpanel.loginpanel{background-color: #f5f5f5;border: 1px solid #e3e3e3;border-radius: 4px;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;margin:0 auto 20px;min-height: 20px;padding: 19px;position: relative;max-width:290px;}
.loginbox.onecolumn{margin:0;}
.loginbox.twocolumns .loginpanel{margin-right:30px;}
.loginbox .loginform .form-input{width:100%;}
.loginbox .loginform .form-input input{width:100%;}
.loginbox .loginform .form-label{width:100%;text-align:left;}
.loginpanel input[type="text"], .loginpanel input[type="submit"] {margin-left:0;margin-right:0;}
.loginbox h2, .loginbox .subcontent{margin:0;padding:0;}
.loginbox .guestsub{margin-top:20px;}
#page-login-logout .box.generalbox{text-align:center;}

@media screen and (max-width: 1000px) {
	.front .coursesearch {position:relative;float:right;}
}
@media screen and (max-width: 700px) {
	#region-main.front > label {text-align:left;max-width:85px;min-height: 55px;}
}
/* END tabs */
@media screen and (max-width: 1200px) {
	body header  .menu ul li a{margin: 0;}
	body .head .home-form{margin-left:0;width:45%;}
	body .head .home-text{margin-right:0;}
}
@media screen and (max-width: 800px) {
	.page .front .courses .coursebox { width:49%;}
	.page .front .courses .coursebox:not(:nth-child(4n)) {margin-right: 0;}	
	.page .front.rightside .courses .coursebox:not(:nth-child(3n)) {margin-right: 0;}	
	.page .front .courses .coursebox:not(:nth-child(2n)) {margin-right: 2%;}

}
@media screen and (max-width: 480px) {
	.page .front .courses .coursebox { width:100%;}
	.page .front .courses .coursebox {margin-right: 0;}
	
	#region-main.front > label {float:none;max-width:100%;width:100%;border-left:2px solid [[setting:backgroundcourse]];border-right:none;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
}

@media screen and (max-width : 800px) {
	body footer{position: relative;}
	header .logo a h1{font-size:14px;}
	body header .menu .header-menu-toggle{display:block;}	
	body header .menu ul{z-index:9;display:none;float: none; width:200px;right: 3%;top:110%; box-shadow: 0 0 4px rgba(0,0,0,0.4);background-color:#fff;padding:0px;position: absolute;}
	body header .menu ul li{float:none;padding:1% 10%;margin:0;}
	body header .menu ul li a{display: block; color: #333;font: 14px/32px 'Open Sans'; text-transform: capitalize;}
	body header .menu ul li a.button{color: #333;font: 14px/32px 'Open Sans';margin:0; text-transform: capitalize;border:0;background-color:transparent;padding:0;}
	body header .menu ul li:nth-child(even){background-color:#f6f6f6;}
	body header .menu ul li:hover{background-color:rgba(253,250,194,0.6);}
	body header .menu ul li a:hover:before{border-top:0;}
	body header .menu .active ul{display:block;}
	body header .user .dropdown-toggle img{display:none}
	body header .user .dropdown-toggle .name{display:none}
	body header .user .dropdown-toggle .icon{padding: 0 8px;display:block; border-left:1px solid rgba(59,105,147,0.1); border-right:1px solid rgba(59,105,147,0.1); cursor:pointer;}
	body .head .home-form{margin:60px auto;width:45%;float:none;}
	body .head .home-text{display:none;}
	body .head .home-wellcome{margin:27px 0 0;}
	body .head .pathway {padding-top: 20px;}
	body .head .pathway .breadcrumb-nav{float: none;}
	body .head .pathway .breadcrumb-button{float: none;}
	body .head .pathway .breadcrumb{font-size:14px;}
	body .head .pathway .breadcrumb a{font-size:14px;}
	body .page{padding-bottom:25px;}
	body .page .side-pre{float: none; width: 100%;}
	body .page .side-post{float: none; width: 100%;}
	body .page .content.content{float: none; width: 100%;}
	body .page .content.content.leftside{float: none; width: 100%;}
	body .page .content.content.rightside{float: none; width: 100%;}
}
@media screen and (max-width: 650px) {
	body .head .home-form{margin:60px auto;width:100%;float:none;}
	body .head .pathway {padding-top: 10px;}
}
@media screen and (max-width: 480px) {
	
    html {
       -webkit-text-size-adjust: none;
    }
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
