.block_bundle .by_bundle{background-color:#3e4d55; border: 1px solid transparent; border-radius: 4px; color: #fff; display: block; font: 15px/45px open sans; text-align: center;transition: all 0.3s ease 0s;}
.block_bundle .by_bundle:hover{border-color:#3e4d55;background-color:transparent;color: #3e4d55;text-decoration:none;transition: all 0.3s ease 0s;}
.block_bundle.block .content{padding:15px;}