
.block_last_activity.block .content .activity-list{position:relative;padding-left:18px;margin: 0 10px;}
.block_last_activity.block .content .activity-list a{color: #ccc; font-weight: 400;}
.block_last_activity.block .content .activity-list p{color: rgba(255,255,255, 0.6);}
.block_last_activity.block .content .activity-list li{position: relative;  padding:0 0 8px;margin-bottom:8px;}
.block_last_activity.block .content .activity-list li.last{padding-bottom:0;margin-bottom:0px;}
.block_last_activity.block .content .activity-list li:hover .image{display:block;top:0;left:-32px;width:30px;height:30px; transition: all 0.2s;}
.block_last_activity.block .content .activity-list li .image{display:none;border-radius:50%;position:absolute;top:8px;left:-21px;width:7px;height:7px;z-index:99}
.block_last_activity.block .content .activity-list li .image:hover{top:-2px;left:-32px;width:60px;height:60px;}

.block_last_activity.block .content .activity-list li .info{margin-left:0px; font-family: open sans;}
.block_last_activity.block .content .activity-list li .info p{margin:0;font-size:12px;color:#fff;}
.block_last_activity.block .content .activity-list li .info h3{margin:0}
.block_last_activity.block .content .activity-list li .info strong{ }
.block_last_activity.block .content .activity-list li .info h3 a{font-size:13px;color:#fff;}
.block_last_activity.block .content .activity-list li .info h3 a i{color:#97cf6d;margin-right: 5px;}
.block_last_activity.block .content .activity-list li .info h3 span{font-size:12px;font-weight: 400;margin-left: 10px;color:#ddd;}
.block_last_activity.block .content .activity-list li .title{font:13px 'Open Sans';color:#333;}
.block_last_activity.block .content .activity-list li .title a{font:13px 'Open Sans';color:#00AFD1;}
.block_last_activity.block .content .activity-list li .title a:hover{text-decoration:underline;}
.block_last_activity.block .content .activity-list li .date{font:12px arial;color:#C4C4C4;margin-top:2px;}

.block_last_activity.block .content .activity-list li:after {content: "";left: -23px;position: absolute;top: 6px; width: 10px;height:10px; border-radius: 50%;background-color:#F16645;z-index: 10;}
.block_last_activity.block .content .activity-list li:before {background-color: rgba(255, 255, 255, 0.2); content: ""; height: 109%;left: -19px;position: absolute; top: 10px; width: 2px;}
.block_last_activity.block .content .activity-list li:last-of-type:before{display:none;}

.block_last_activity.block .content .activity-list .more{font-size: 16px;text-transform: capitalize;text-align:center;}
