html{height:100%;}
body{position:relative; margin:0;padding:0; font:13px Arial;color:#636366;background-color:#f3f3f4;}
body .jqstooltip{border:0;border-radius:2px;}
body.printing{height:100%}
a,img{text-decoration:none;border:0px;text-decoration:none;color:#4366A4;transition: color 0.2s linear 0s;}
a:hover{color:#DE5643;}
img { max-width: 100%; height: auto;width: auto\9;}
ul{padding:0;margin:0; list-style:none}
ul li{padding:0;margin:0;line-height:20px;}
h1{color: #A3A3A3;font: 28px/36px  'Open Sans', Arial,Helvetica,sans-serif;margin: 0 0 17px;}
h2{color: #464646;font: 21px/26px  'Open Sans',Arial,Helvetica,sans-serif;margin: 0 0 15px;}
h3{color: #464646;font: 17px/26px  'Open Sans',Arial,Helvetica,sans-serif;margin: 0 0 15px;}
hr {margin-bottom: 20px;}

body:before,
body:after{display: table;line-height: 0;content: "";}
body:after{clear: both;}

.logo-sebalelms {margin:0;padding:0;}
.logo-sebalelms a{font:400 24px/24px 'Oswald', sans-serif; color:#555;text-transform:uppercase;  letter-spacing: 0.8px;}
.logo-sebalelms a span{font-weight:300;font-size: 25px;}

.user{margin-bottom:20px;}
.user .dropdown-toggle{color: #fff; cursor: pointer;border-bottom:1px solid rgba(255,255,255,0.3);text-align:left;padding-bottom:0 0 10px;transition: all 0.5s;}
.user .dropdown-toggle:hover{background-color:transparent;}
.user .dropdown-toggle .name{font: 16px/16px open sans;}
.user .dropdown-toggle .email{font: 14px/14px open sans;display:inline-block;}
.user .dropdown.open .dropdown-toggle{box-shadow: none;color: #fff;background-color: transparent;border-color:transparent;}
.user .dropdown-menu{box-shadow: none;text-align:left;color: #fff;padding:5px 15px;position:relative;border:0;background-color:transparent;}
.user .dropdown-toggle img{width:45px;margin-right: 10px;float:left;}
.user .dropdown-menu li{border-bottom:1px solid transparent;}
.user .dropdown-menu li:hover{border-bottom-color:rgba(255,255,255,0.3);}
.user .dropdown-menu li a{padding:3px 10px;color:#fff;background:none;}
.user .dropdown-menu li a i{font-size: 16px;width: 22px;}

.background-content{height: 100%; margin: 0px auto; left: 0px; right: 0px; position: fixed; z-index: -1;}
.background-content .inner{background-color: rgb(255, 255, 255); height: 100%;}

header{background-color:[[setting:backgroundcolorleft]];border-bottom: 2px solid rgba(0, 0, 0, 0.1);}
header .inner{width:calc(100% - 300px);margin:0 auto;}

footer{background-color: #fff;border-top: 2px solid #eee; bottom: 0; position: absolute; right: 0; text-align: center; width:100%;max-width: calc(100% - 300px);transition:all 1s;-ms-transition:all 0s ease 1s;}
footer .copyright{font:13px/23px 'Open Sans';}
footer .footnote{font:13px/23px 'Open Sans';}
footer .menu{}
footer .menu ul{padding:0;margin:0;list-style:none;}
footer .menu ul li{float:left;padding:5px;}
footer .menu ul li a{font:13px 'Open Sans';}
footer .menu ul li a:hover{background-color:transparent;}

.inner{position: relative;width:100%;padding:20px;}
body #page {max-width:calc(100% - 300px);width:100%;float:left;transition:all 1s;margin-bottom:80px;}
body #page .side-pre{width: 23%;float:left}
body #page .side-post{width: 23%;float:right}
body #page > .content{}
body #page > .content.leftside div[role='main']{ width: 75%;float:right; }
body #page > .content.rightside div[role='main']{ width: 75%;float:left; }
body #page .home-intro{color: #464646;font:200 17px/40px  'Open Sans',Arial,Helvetica,sans-serif;margin:0;text-align:center}
body #page-container{position:relative;height:100%;}

.home-user{padding-top:50px;}
.home-user .avatar{width:100px;float:left;}
.home-user .info{margin-left:15px; float:left;padding:5px;}
.home-user .info strong{font:600 21px 'Open Sans';color:#fff;margin-bottom:5px;}
.home-user .info p{font:14px 'Open Sans';color:#fff;margin:0;}

.main-left{float: left;max-width: 300px;width:100%;text-align:center;position:relative;z-index:4;transition:all 1s;background:url( [[setting:leftbg]]) no-repeat fixed [[setting:backgroundcolorleft]];min-height:100%;border-right: 2px solid rgba(0, 0, 0, 0.1);}
.main-left.left-close{max-width:0px;border:0;}
.main-left.left-close .container{max-width:0;padding:0;}
.main-left.left-close + #page{max-width:100%;transition:all 1s;}
.main-left.left-close ~ footer{max-width:100%;transition:all 1s;}

.main-left .container{padding:20px;width:100%;max-width:300px;position:relative;transition:all 1s;overflow:hidden;}
.main-left .logo{margin-bottom:20px;}
.main-left .home-form {text-align:left;}
.main-left .home-form a{display:inline-block;margin-bottom:15px;}
.main-left .home-form button{width:100%;margin: 0 0 10px;background-color:#fb764d; border: 1px solid #fb764d;border-radius: 4px;color: #fff; font:600 14px Arial;padding:10px 15px;}
.main-left .home-form button:hover{/* color:#fb764d;background-color: transparent; */opacity:0.85;}
.main-left .home-form input{background-color: transparent; border: 1px solid #fff;border-radius: 4px;box-shadow: none;color: #fff!important; display: block; font: 14px Arial; height: auto; margin-bottom: 15px; padding: 10px 15px;  width: 100%;}
.main-left .home-wellcome{ color:#fff;text-transform:uppercase;}
.main-left .home-text{}
.main-left .home-text h3{margin:10px 0 40px;font:20px/35px "Open Sans",Arial,Helvetica,sans-serif;}
.main-left .home-text h3,.main-left .home-form h2,.main-left .home-form a{color:#fff;}
.main-left .home-text button{color:#fff;background-color:transparent;border:1px solid #fff;}
.main-left .home-text button:hover{color:#222;background-color:#fff;border:1px solid #fff;}
.main-left .pathway{padding-top:48px;}
.main-left .pathway .breadcrumb{background-color: transparent;color: #fff;font:16px 'Open Sans';}
.main-left .pathway .breadcrumb a{font:16px 'Open Sans'; color:#fff;}
.main-left .pathway .breadcrumb-nav{margin:0}
.main-left .pathway .breadcrumb{padding-left:0;padding-right:0;}
.main-left .pathway .singlebutton div{margin:0;}
.main-left .signup{text-align:center;color:#fff;}
.main-left .signup a{margin-top:10px;}
.main-left .block{background-color:#fff;}
.main-left-toggle{background-color: #fff; position:relative;z-index:9999;border-radius: 3px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); float: left; margin-right: 10px; padding:7px;text-align:center;width: 40px;cursor:pointer;line-height: 26px;font-size: 17px;}
.front .main-left-toggle{padding:5px 7px;line-height: 17px;background-color:transparent;border-color:transparent;box-shadow: none; }
.front .main-left-toggle:hover{background-color: #fff;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
.main-left.full{display:none;}
footer.full{padding:0;}
.main-left.full + #page{margin: 0 auto;float:none;}
.main-left.full + #page .main-left-toggle{display:none;}
.main-left.full + #page #page-navbar{width:100%!important;}


.mform fieldset.collapsible legend a.fheader{margin:0;}
.editor_atto_notification .atto_info, .editor_atto_notification .atto_warning{position:relative;z-index:1;}
#dndupload-status{z-index:1;}

.choosercontainer #chooseform .option span.modicon img.icon, .choosercontainer #chooseform .nonoption span.modicon img.icon{height:auto;width:38px;}
.choosercontainer #chooseform .moduletypetitle, .choosercontainer #chooseform .option, .choosercontainer #chooseform .nonoption{float:left;width:23%;padding:0 10px;margin:1%;}
.choosercontainer #chooseform .moduletypetitle{clear: both;width: 100%;text-align:center;font: 16px open sans; padding: 10px;margin:0;}
.choosercontainer #chooseform .moduletypetitle label{font-weight:normal;margin:0;}
.choosercontainer #chooseform .option input[type="radio"], .choosercontainer #chooseform .option span.typename, .choosercontainer #chooseform .option span.modicon{width:100%;float:left;font:12px Open Sans;padding:5px 0;text-align:center;}
.jsenabled .choosercontainer #chooseform .instruction, .jsenabled .choosercontainer #chooseform .typesummary{display:none!important;}
.choosercontainer #chooseform .option input[type="radio"]{display:none;}
.jsenabled .choosercontainer #chooseform .alloptions{max-width:100%;padding:10px;box-shadow:none;}
.choosercontainer #chooseform .option label{cursor:pointer;padding:7px 0 0;}
.choosercontainer #chooseform .option:hover{background-color: #fff; box-shadow: 0 0 10px 0 #ccc;}
.choosercontainer #chooseform .option label::after{clear: both; content: ""; display: block; height: 0;}
.choosercontainer #chooseform .submitbuttons{background-color:#f5f5f5;padding:0.7em 0;margin:0;}
.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd, .moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd.yui3-widget-hd{background:#f5f5f5;border-radius:0;text-shadow:none;font:16px open sans;padding:10px;}
.moodle-dialogue-base .moodle-dialogue-wrap{border-radius:4px;}
.chooserdialogue .moodle-dialogue-wrap .moodle-dialogue-bd{background:#fff;}
.moodle-dialogue-hd h3{margin:0;}

input.form-submit, input#id_submitbutton, input#id_submitbutton2, .path-admin .buttons input[type="submit"], td.submit input{color:#fff!important;}
input[id$="_clearbutton"], input[type="reset"]{color:#fff!important;}

.content.front {position:relative;}
.content.front input.for-tab { display:none;}
.content.front .labelbox label { display: inline-block; padding:4px 10px; margin:0;font-weight: 600; text-align: center; color: #464646;border: 1px solid transparent; float:left; position:relative; z-index:2; font: 14px/20px "Open Sans",Arial,Helvetica,sans-serif; /* background-color:#fff; */ }
.content.front .labelbox {margin-bottom:20px;}
.content.front fieldset > label { font-size: 14px;font-weight:normal;}
.content.front label:hover { cursor: pointer;}

.front .paging-morelink{ background-color: #eee; padding: 10px 0; text-align: center;}
.front .paging-morelink a{color:#333;cursor:pointer;}
.front #signup{margin-top:15px;}

.tab-content {position:relative;} 

.front .coursesearch{position:absolute;top:-50px;right:0;}
.front .coursesearch .select{/* left: 0; position: absolute;  */cursor:pointer;width: 150px;padding: 5px 8px;margin:0;height:auto;display:block;float:right;}
.front .coursesearch .shortsearchbox{transition: opacity 0.5s ease 1s,visibility 0s linear 1.5s;visibility:hidden;height:auto;padding: 5px 8px;min-width: 150px;box-shadow:none;line-height:18px;float: left; margin-bottom: 0; opacity: 0; position: relative;}
.front .coursesearch #shortsearchbutton{display:none;}
.front .coursesearch label{margin: 0 5px; padding:5px 10px;line-height: 18px;border-radius: 4px;border: 1px solid transparent;}
.front .coursesearch label:hover{border-color:#ccc;}
.front .coursesearch label:hover ~ .shortsearchbox{opacity:1;transition: opacity 0.5s ease 0.3s,visibility 0s ease 0.2s;visibility:visible;}
.front .coursesearch .shortsearchbox:focus{box-shadow:none;opacity:1;visibility:visible;}

#temp, #temp2{opacity:0;}
.front #site-news-forum .subscribelink{float:right;}
.front .courses { position: relative; clear: both; margin: 0; padding: 0;display:block;width:calc(100% + 10px);}
.front .courses .coursebox {overflow: hidden; margin-bottom: 10px; min-width:200px;max-width: 400px;max-height:400px;height:auto;width: calc(25% - 10px);background-color: [[setting:backgroundcourse]];cursor: pointer;}

.front .tab-content .search:before{content:url([[pix:theme|spinner2]]);left: 0;margin: auto;position: absolute;right: 0;width: 55px;}

.course-content ul.topics{position: relative;}
.course-content ul.topics li.section:last-child{ padding-bottom: 0;}
.course-content ul.topics li.section .content, .course-content ul.weeks li.section .content{margin-left: 0px;margin-right:0px;}
.course-content ul li.section.main {background-color: #fff; border-radius: 3px;  border:none;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);padding:20px;margin-bottom:20px;}
.course-content ul.section{margin:0;}
.course-content img.iconlarge {height: 32px;vertical-align: middle;width: 32px;}
.course-content .section .activity .mod-indent-outer {padding-left: 35px;}
.course-content .section .cm-star{ top: 5px;}
.course-content .section li.activity{ padding: 10px 0 20px;margin:0}
.course-content .completionprogress{display:none;}
.course-content  .section .activity .editing_move {top:5px;left:7px;}
.course-content ul li.section .content .sectionname {position:relative;color: #555;font-size: 21px;padding: 10px 10px 10px 75px;text-transform: uppercase;border-bottom:1px solid #d2d2d2;}
.course-content ul.topics li.section .activity-duedate  span{font-weight:bold;}
.course-content ul.topics li.section .activity-duedate {font:11px verdana;color:#8B95A2;padding-left: 50px;margin-top: -5px;}
.course-content ul.topics li.section .summary {margin-left:85px;}
.course-content #section-0{display:none;}
.course-content .activity img.activityicon {margin-right: 18px;}
.course-content .section .activity .contentwithoutlink , .section .activity .availabilityinfo, .section .activity .contentafterlink {margin-left: 50px;}
.course-content .section .activity .contentwithoutlink, .section .activity .activityinstance  a{text-decoration:none;}
.course-content ul li.section .left, .course-content ul li.section .right{position:relative;z-index:2;}

div[role="main"] > h2::before { background-color: [[setting:backgroundcolorleft]]; bottom: 3px; content: ""; left: 0; position: absolute; top: 3px; width: 6px;}
div[role="main"] > h2::after { background-color: #d2d2d2; bottom: 10%; content: ""; height: 1px; margin-left: 10px; position: absolute; width: 100%;}
div[role="main"] > h2 { overflow: hidden; padding-left: 15px; position: relative;line-height:30px;}

.panel-default, .block, .forumpost{border-color:transparent;}
.panel, .block, .forumpost{box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);}
.block .header .commands{position:relative;}
.block .header,.userprofile h2{padding:10px 0;margin:0 15px;border-bottom:1px solid #d2d2d2;background:none;}
.block.hidden .header{border-bottom-color:transparent;}
#page-navbar, .content.front label.active,.userprofile,.choosercontainer #chooseform .moduletypetitle{border:none;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);background-color:#fff;border-radius:3px;}
.contactselector,.messagearea{border:none!important;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1)!important;}
#page-navbar{margin-bottom:20px;float: left;width: calc(100% - 50px);}
#page-navbar input{border:none;}
.breadcrumb-nav{margin:0;}
.breadcrumb{background:none;}
.breadcrumb-button .singlebutton{float:left;}
.breadcrumb-button .singlebutton div{margin:0 5px 0 0;}
.breadcrumb a,.breadcrumb span{color: #666;  font: 14px/24px open sans;}

.header-menu-toggle{display:none;float:right; margin: 30px 0 0; width:42px;height:32px;text-align:center;  border:1px solid rgba(0,0,0,0.3);border-radius:3px;cursor:pointer;}
.header-menu-toggle i{color:#666;font-size:17px;line-height:32px;}
.header-menu-toggle:hover{border-color:rgba(0,0,0,0.4);}
.header-menu-toggle:hover i{color:#000;}

.preview .left{float: left;margin-right: 3%; margin-left:7%;max-width: 30%;}
.preview .right{float: left;width:60%;}
.preview .right strong{font-size:26px;font-weight:700;}
.preview .right p{font-size:24px;}

.clean {background-position: -253px 0;}
.clean-sidebar {margin-left: -253px;}
.clear{clear:both;float:none;}
.clearfix {*zoom: 1;}
.clearfix:before,
.clearfix:after{display: table;line-height: 0;content: "";}
.clearfix:after{clear: both;}
.transition{
	transition: all 5s;
	transition: background 0.3s ease-out 0s;
	transition: background-position 0.2s ease-out 0s, color 0.2s ease-out 0s;
	transition: opacity 0.3s ease-out 0s;
	transition:border-color 0.3s linear;
	transition: color 0.2s linear 0s;
}
.loginpanel .forgetpass{margin-top:10px;}
.loginbox input[type="submit"]{width:100%;}
.loginbox .loginerrors{margin-bottom:10px;}

button, input.form-submit, input[type="button"], input[type="submit"], input[type="reset"]{color:#666;}

.front .courses figure img { border:none; display: block; opacity: 0.8;-webkit-transition: all 0.35s;transition: all 0.35s;position:relative;}
.front .courses figure figcaption { padding: 2em; color: #fff;  font-size: 1.25em; -webkit-backface-visibility: hidden; backface-visibility: hidden;}
.front .courses figure figcaption::before,.front .courses figure figcaption::after { pointer-events: none;}
.front .courses figure figcaption a.course-href{ position: absolute; top: 0; left: 0; width: 100%; height: 100%;z-index:2;}
.front .courses figure figcaption a{ color:#fff;text-decoration:none;}
.front .courses figure figcaption{ position: absolute; top: 0; left: 0; width: 100%; height: 95%;overflow:hidden;}
.front .courses figure figcaption .no-overflow { opacity: 0; position: absolute; bottom: 0; left: 0; width: 100%; margin:0;-webkit-transition: all 0.35s;transition:all 0.35s}
.front .courses figure figcaption .no-overflow p{  display: inline-block;font-size: 14px;line-height: 23px;margin: 0;padding: 0; text-align: left;}
.front .courses figure .info h3 { word-spacing: -0.15em; font-weight: 600; color:#fff; font-size: 17px;margin-bottom:0;text-transform: uppercase;}
.front .courses figure .info{ margin: 0;overflow: hidden;-webkit-transition: all 0.35s;transition:all 0.35s}

.front .courses figure.effect-goliath-left img { -webkit-backface-visibility: hidden; backface-visibility: hidden;left:50%;}
.front .courses figure.effect-goliath-left figcaption {padding:0;}
.front .courses figure.effect-goliath-left .info {padding: 15px;max-width: 50%;position:relative;}
.front .courses figure.effect-goliath-left .no-overflow p{ text-overflow:ellipsis;overflow:hidden;height:100%;}
.front .courses figure.effect-goliath-left .no-overflow {  padding: 0 15px 15px; max-width: 50%; margin:0; text-transform: none; opacity: 0; position:relative;-webkit-transition: all 0.35s; transition: all 0.35s; }
.front .courses figure.effect-goliath-left:hover img { left:100%;opacity: 1;}
.front .courses figure.effect-goliath-left:hover .info { max-width:100%;}
.front .courses figure.effect-goliath-left:hover .no-overflow { max-width:100%;opacity: 1; }

.front .courses figure.effect-romeo { -webkit-perspective: 1000px; perspective: 1000px;text-align:left;}
.front .courses figure.effect-romeo figcaption{ position: relative;}
.front .courses figure.effect-romeo .info,.front .courses figure.effect-romeo .no-overflow { position: relative;  top: 0;  left: 0; width: 100%; -webkit-transition: all 0.35s; transition: all 0.35s;}
.front .courses figure.effect-romeo .info {margin-bottom:5px;}
.front .courses figure.effect-romeo figcaption .no-overflow {opacity:0.8; position:relative;}
.front .courses figure.effect-romeo:hover .info { top:-20px;}
.front .courses figure.effect-romeo:hover .no-overflow {top:-20px;}

@media screen and (max-width: 1200px) {
	.main-left{position:absolute;}
	.main-left-toggle:not(.left-close){background-color:#fff;}
	#page{max-width:100%!important;}
	footer{max-width:100%!important;}
}

@media screen and (max-width : 800px) {
	body #page > .content.rightside div[role="main"], body #page .side-post{float:none;width:100%;}
	.front .coursesearch{position:relative;text-align:right;margin-bottom:20px;top:0;}
}
@media screen and (max-width: 650px) {
	body .head .home-form{margin:60px auto;width:100%;float:none;}
	body .head .pathway {padding-top: 10px;}
}
@media screen and (max-width: 480px) {
	
    html {
       -webkit-text-size-adjust: none;
    }
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
