.notification-list + .navigation{text-align:right;background-color: #ecf0f1; margin: 0 -30px;padding: 0 30px 30px;}
.notification-list + .navigation a:first-child{border-radius:5px 0 0 5px;padding:5px 10px;}
.notification-list + .navigation a{padding:5px;background-color:#fff;cursor:pointer;}
.notification-list + .navigation a:hover{text-decoration:none;}
.notification-list + .navigation a:last-child{border-radius:0 5px 5px 0;padding:5px 10px;}

.notification-list{background-color: #ecf0f1; margin: 0 -30px;padding: 30px;}
.notification-list .item{margin-bottom:2%;float:left;width:49%;border-radius:5px;background-color:#fff;padding:15px;position:relative;}
.notification-list .item:nth-child(2n){margin-left:2%;}
.notification-list .item:last-child{margin-bottom:0;}
.notification-list .item .item-number{height:30px;width:30px;font:600 17px/30px roboto;text-align:center;display:inline-block;border-radius:50%;color:#fff;}
.notification-list .item[read="0"] .item-number{background-color:#f57c7c;}
.notification-list .item[read="1"] .item-number{background-color:#bcc6ef;}

.notification-list .item .dropdown{position:absolute;right:15px;top:14px;}
.notification-list .item .dropdown i{padding:5px;cursor:pointer;font-size:24px;color:#d7dae3;}
.notification-list .item .dropdown .dropdown-menu{right:0;left:auto;}

.notification-list .item .course, .notification-list .item .notifi-name{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.notification-list .item .notifi-name{font-size:16px;}
.notification-list .item .notifi-time{text-align:right;color:#636366;}
.notification-list .item a{color:#555;outline:none;text-decoration:none;}
.notification-list .item:hover{background-color:#f8f9fd;}
.notification-list .item:hover a{text-decoration:none;outline:none;}

.notification_date{text-align:right;}