*,*:after,*:before{box-sizing:border-box;}
html{height:100%;}
body{position:relative; min-height:100%;height:100%;margin:0;padding:0;color:#636366;
  font-size: 14px;
  line-height:22px;
  font-weight: 300;
  font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body .jqstooltip{border:0;border-radius:2px;}
body.printing{height:100%}
a,img{text-decoration:none;border:0px;text-decoration:none;color:#4366A4;transition: color 0.2s linear 0s;outline:none;}
a:hover{color:#DE5643;outline:none;}
img { max-width: 100%; height: auto;width: auto\9;}
ul{padding:0;margin:0; list-style: none;}
ul li{padding:0;margin:0;line-height:20px;list-style: none;}
hr {margin-bottom: 20px;}
h1, h2, h3, h4, h5, h6, table tr th {font-weight: 400;}
h2{font-size:22px;}
h3 {font-size: 20px;}

header{background-color: rgba(0, 0, 0, 0.01);
    margin-left: -30px;
    margin-right: -30px;
    margin-top: -30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;}
header .left{float:left;}
header .right{float:right;line-height:70px;}
header .right .bookmark {display:inline-block;}
header .right .bookmark > a{border: 1px solid #cdd7d9;border-radius: 50%;display: inline-block;font-size: 17px;height: 44px;line-height: 44px;text-align: center;width: 44px;color:#cdd7d9;transition:all 0.3s;vertical-align:middle;}
header .right .bookmark > a:hover, header .right .bookmark > a.active{border-color:#60686b;color:#60686b;}
header .right .bookmark form{left: auto;line-height: normal;padding: 10px;right: 0;z-index: 9999;}
header .right .bookmark form h5{margin-top:0;text-align:center;}
header .right .bookmark form input[type="submit"]{margin:0;width: 100%;}
header .right .bookmark form input.req{border-color:#b94a48;}
header .right .nav{display:inline-block;margin-right:20px;margin-bottom:0;}
header .right .nav > li{display:inline-block;margin-right:10px;}
header .right .nav li .singlebutton div{margin:0;}
header .right .nav li:last-child{margin-right:0;}
header .right .nav input{font-family:Roboto;font-weight:300; text-shadow:none;}
header .right .nav input, header .right .nav > li > a{display:inline-block;background: transparent none repeat scroll 0 0;box-shadow: none;margin:0;border: 1px solid #cdd7d9;border-radius:5px;color:#60686b;font-size:14px;cursor:pointer;transition:all 0.3s;vertical-align:inherit;padding:7px 15px;}
header .right .nav input[type="submit"]:hover,header .right .nav a:hover,header .right .nav .dropdown.open .dropdown-toggle{border-color:#60686b;background-color:#fff;}
header .right .nav input[type="text"]{cursor:text;margin-right:5px;}
header .right .nav .dropdown-toggle .fa{margin-left:10px;}
header .right .nav .dropdown-menu{z-index:9999;max-width:150px;}
header .right .nav .dropdown-menu hr{margin:5px 0;}
header .right .nav .dropdown-menu ul{margin:0;}
header .right .nav .dropdown-menu ul li{position:relative;}
header .right .nav .dropdown-menu a{ clear: both; color: #60686b; display: block; font-weight: normal; line-height: 20px; padding: 3px 30px 3px 20px; transition:all 0.3s;}
header .right .nav .dropdown-menu a:hover{color:#333;background:none;text-decoration:none;}
header .right .nav .dropdown-menu .bookmark-delete{font-size: 12px;line-height: normal;padding: 5px;position: absolute;right: 5px;}
header .right .nav .dropdown-menu .no_quick_links{padding-left:20px;}

header .left > div{display:inline-block;}
header .logo{padding-right:10px;margin-top:-9px;}
header .logo a img{max-height: 70px;}

.page .rightside footer{bottom: 0; position: absolute;color: rgba(255, 255, 255, 0.6); font-size: 12px;line-height: 18px;right: 30px; text-align: right;}

.block {background-color: transparent;}

.page > .content{width: calc(100% - 500px);}
.page > .content header{margin-bottom:20px;}

.course-content .current{background:none;}
.course-content ul{position: relative;}
.course-content ul li.section:last-child{ padding-bottom: 0;}
.page .course-content ul li.section .content, .course-content ul.weeks li.section .content{margin-left: 0px;margin-right:0px;border: 1px solid rgba(0, 0, 0, 0.1);border-radius: 3px;}
.course-content ul li.section.main {border:0;}
.course-content ul.section{margin:0;}
.course-content img.iconlarge {height: 32px;vertical-align: middle;width: 32px;}
.course-content .section .activity .mod-indent-outer {padding-left: 35px;width:100%;padding-right:60px;}
.course-content .section .cm-star{ top: 5px;}
.course-content .section li.activity{padding: 10px 0 20px;margin:0}
.content .course-content .section li.activity{padding: 10px;}
.content .course-content .section li.activity:nth-child(2n){background-color:rgba(0,0,0,0.01);border-radius:0;}
.course-content .completionprogress{display:none;}
.course-content  .section .activity .editing_move {top:5px;left:7px;}
.course-content ul li.section .content .sectionname {position:relative;color: #555;font-size: 21px;padding: 10px 10px 10px 40px;text-transform: uppercase; background-color:rgba(0, 0, 0, 0.01);margin:0;}
.course-content ul li.section .content.open .sectionname, .editing .course-content ul li.section .content .sectionname {border-bottom:1px solid rgba(0,0,0,0.1);}
.editing .course-content ul.section .activity .actions {line-height:22px;}
.course-content ul li.section .content .summary > *:first-child {margin-top:15px;}
.course-content ul li.section .content .summary > a {display: inline-block;position: relative;right: calc(-100% + 26px);margin-bottom: 15px;}
.course-content ul li.section .content .sectionname:hover{border-color:#cdd7d9;}
.course-content ul li.section .activity-duedate  span{font-weight:500;}
.course-content ul li.section .activity-duedate {font:11px verdana;color:#8B95A2;padding-left: 50px;margin-top: -5px;}
.course-content ul li.section .summary {margin-left:85px;}
.course-content ul li.section > .left.side, .course-content ul li.section > .right.side {padding-top:23px;position:relative;z-index:1;}
.page .course-content ul li.section .right {padding-right: 45px;position: relative;text-align: center;z-index: 99;width: auto;}
.page .course-content ul li.section .right br{display:none;}
.course-content #section-0{display:none;}
.course-content .activity .activityicon {margin-right: 15px;}
.course-content .iconlarge { height: 32px; vertical-align: middle; width: 32px;}
.course-content .section .activity .contentwithoutlink , .section .activity .availabilityinfo, .section .activity .contentafterlink {margin-left: 50px;margin-top:0;}
.section .activity .contentafterlink p{margin-top:0;}
.section .contentafterlink p{text-align:justify;}
.section .label .contentwithoutlink p{margin-top:4px;margin-bottom:4px;}
.section .label .contentwithoutlink .no-overflow, .section .label .activityinstance .no-overflow{padding:0;}
.course-content .section .activity .contentwithoutlink, .section .activity .activityinstance  a{text-decoration:none;}

.preview .left{float: left;margin-right: 3%; margin-left:7%;max-width: 30%;}
.preview .right{float: left;width:60%;}
.preview .right strong{font-size:26px;font-weight:700;}
.preview .right p{font-size:24px;}

.clear{clear:both;float:none;}
.clearfix {*zoom: 1;}
.clearfix:before,
.clearfix:after{display: table;line-height: 0;content: "";}
.clearfix:after{clear: both;}
.transition{
	transition: all 0.2s;
	transition: background 0.3s ease-out 0s;
	transition: background-position 0.2s ease-out 0s, color 0.2s ease-out 0s;
	transition: opacity 0.3s ease-out 0s;
	transition:border-color 0.3s linear;
	transition: color 0.2s linear 0s;
}
.course_category_tree{margin-top:10px;}

.course-content .show-activity{border: 1px solid #ddd;border-radius: 50%;font-size: 20px;z-index:100;right: 13px;line-height: 13px;padding: 5px; position: absolute;top: 18px;cursor:pointer;}
.course-content .show-activity:hover{border-color: #ccc;}
.course-content .show-activity.fa-angle-up{padding:5px 5px 8px;line-height:10px;}
.course-content ul li.section{position:relative;margin:0;}
.courses .coursebox.collapsed, .courses .coursebox.loaded,.box.generalbox.info .coursebox.collapsed,.box.generalbox.info .coursebox.loaded { border: 1px solid #ddd; border-radius: 4px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);margin-bottom: 20px;padding:0;}
.courses .coursebox .moreinfo, .courses .coursebox .content,.box.generalbox.info .coursebox .moreinfo,.box.generalbox.info .coursebox .content { padding: 10px;}
.courses .coursebox .coursename,.box.generalbox.info .coursebox .coursename { background-color:#f5f5f5; padding: 10px 15px; border-top-left-radius: 3px;border-top-right-radius: 3px;}
.courses .coursebox .enrolmenticons,.box.generalbox.info .coursebox .enrolmenticons{margin-bottom: 10px; margin-right: 10px;}

.box.generalbox.info .coursebox{padding:0;background-color:transparent;border:1px solid rgba(0, 0, 0, 0.1);}
.box.generalbox.info .coursebox:hover{background-color:transparent;}
.box.generalbox.info .coursebox > .info > h3.coursename{margin:0;border-bottom:1px solid rgba(0, 0, 0, 0.1);}
.box.generalbox.info .coursebox > .info > .coursename a{display:inline-block;}
.box.generalbox.info .coursebox .moreinfo,.box.generalbox.info .coursebox .content{padding-top:0;}
.box.generalbox.info .coursebox .content:before,.box.generalbox.info .coursebox .content:after{display: table;line-height: 0;content: "";}
.box.generalbox.info .coursebox .content:after{clear: both;}

.courses.courses-list {background-color: #ecf0f1; margin: 0 -30px;padding: 30px;}
.courses.courses-list .coursebox{background-color:#fff;border:none;padding:15px;}
.courses.courses-list .coursebox:last-of-type{margin-bottom:0;}
.courses.courses-list .coursebox > div{border: medium none;display: inline-block;vertical-align: middle;}
.courses.courses-list .coursebox .view-link{width:50px;}
.courses.courses-list .coursebox .btn{background: rgb(152, 189, 49) none repeat scroll 0 0; border: 0 none; box-shadow: none; color: rgb(255, 255, 255); font-weight: 400; outline: 0 none;text-shadow: none;}
.courses.courses-list .coursebox .info{border-right: 2px solid #f2f6f9;margin-right: 15px;padding: 0 15px;width: calc(100% - 180px);}
.courses.courses-list .coursebox .info .coursename{color: #555;font-weight: 400;margin: 0;padding: 0 0 10px;text-transform: none;line-height:20px;font-size:16px;border:none;background:none;}
.courses.courses-list .coursebox .coursecat{width:115px;text-align:center;}

#page-course-index-category .courses.courses-list .coursebox .info{border:none;margin:0;width: calc(100% - 50px);}

#page-course-search .page > .content, #page-course-index-category .page > .content{overflow:hidden;position:relative;}
#page-course-search .standard:after,#page-course-index-category .coursecategory:after{background-color: #ecf0f1;content: "";display: block;height: 100%;left: 0;margin-top: -30px;position: absolute;width: 100%;z-index: -1;display:none;}
#page-course-search .searchhelp{display:none;}
#coursesearch .coursesearchbox input, #coursesearch .coursesearchbox label{margin-bottom:0;box-shadow: none;}
.coursesearch-heading {background: #f16645 none repeat scroll 0 0; margin: -21px -30px 15px; font-size:15px; color:#fff;padding:8px 30px;text-align:center;}
.coursesearch-heading.admin {margin-top:0!important;}
.coursesearch-heading form{margin-top:0!important;display:inline-block;}
.coursesearch-heading form label{margin-right:2px;display:inline-block;}
.coursesearch-heading form input,.coursesearch-heading form select{background:#f16645!important;border-color: #fff!important;box-shadow: none;color: #fff!important;text-shadow: none;opacity:0.8;transition:opacity 0.2s;}
.coursesearch-heading form input:focus,.coursesearch-heading form input:hover,.coursesearch-heading form select:focus,.coursesearch-heading form select:hover{opacity:1;}
#page-course-search div[role="main"] > span#maincontent{display:none;}
#page-course-index-category .categorypicker{display:inline-block;margin:0 10px 0 0 ;}
#page-course-index-category .coursesearch-heading{margin-bottom:0;}
#page-course-index-category .collapsible-actions{display:none;}
#page-course-index-category .course_category_tree, #page-course-index-category .course_category_tree + div{background-color: #ecf0f1; margin: 0 -30px;padding: 30px;}
#page-course-index-category .coursecategory:after{display:block;}
#page-course-index-category .course_category_tree .category > .info{background-color:#fff;border:none;box-shadow:none;padding-left:5px;}
#page-course-index-category .course_category_tree .category > .info > .categoryname{background-color:#fff;}
#page-course-index-category .courses.courses-list{padding:15px 30px;}
#page-course-index-category .courses.courses-list + .courses.courses-list{padding-top:0;}

.chooserdialogue-course-modchooser .choosercontainer #chooseform .option span.modicon img.icon, .chooserdialogue-course-modchooser .choosercontainer #chooseform .nonoption span.modicon img.icon{height:auto;width:38px!important;}
.choosercontainer #chooseform .option span.modicon img.icon, .choosercontainer #chooseform .nonoption span.modicon img.icon{height:auto;width:24px!important;}
.choosercontainer #chooseform .moduletypetitle, .choosercontainer #chooseform .option, .choosercontainer #chooseform .nonoption{float: left; margin: 1%;min-height: 115px;padding: 0;width: 23%;}
.chooserdialogue-course-modchooser .choosercontainer #chooseform .moduletypetitle, .chooserdialogue-course-modchooser .choosercontainer #chooseform .option, .chooserdialogue-course-modchooser .choosercontainer #chooseform .nonoption{float:left;width:18%;padding:0;margin:1%;}
.choosercontainer #chooseform .moduletypetitle{min-height:0;width: 100%;text-align:center;font-size: 16px; padding:0; margin:0;}
.chooserdialogue-course-modchooser .choosercontainer #chooseform .moduletypetitle{min-height:0;width: 50%;text-align:center;font-size: 16px; padding:0; margin:0;}
.choosercontainer #chooseform .moduletypetitle label{font-weight:normal;margin:0;padding:10px;}
.choosercontainer #chooseform .module_title{padding-bottom:10px;}
.choosercontainer #chooseform .moduletypetitle.active{box-shadow:0 0 10px 0 #ccc;}
.choosercontainer #chooseform .option input[type="radio"], .choosercontainer #chooseform .option span.typename, .choosercontainer #chooseform .option span.modicon{width:100%;float:left;font-size:12px;padding:5px 0;text-align:center;}
.jsenabled .choosercontainer #chooseform .instruction, .jsenabled .choosercontainer #chooseform .typesummary{display:none!important;}
.choosercontainer #chooseform .option input[type="radio"]{display:none;}
.jsenabled .choosercontainer #chooseform .alloptions{max-width:100%;padding:10px;box-shadow:none;}
.choosercontainer #chooseform .option label{cursor:pointer;padding:10px;margin:0;border:none;min-height:110px;}
.choosercontainer #chooseform .option:hover{background-color: #fff; box-shadow: 0 0 10px 0 #ccc;}
.choosercontainer #chooseform .option label::after{clear: both; content: ""; display: block; height: 0;}
.choosercontainer #chooseform .submitbuttons{background-color:#f5f5f5;padding:0.7em 0;margin:0;}
.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd, .moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd.yui3-widget-hd{background:#f5f5f5;border-radius:0;text-shadow:none;font-size:16px;padding:10px;}
.choosercontainer #chooseform .module_activities, .choosercontainer #chooseform .module_resources{display:none;}
.moodle-dialogue-base .moodle-dialogue-wrap{border-radius:4px;}
.chooserdialogue .moodle-dialogue-wrap .moodle-dialogue-bd{background:#fff;}
.moodle-dialogue-hd h3{margin:0;}


body >.page{display:flex;min-height:100%;display: -webkit-box;display: -ms-flexbox; display: -webkit-flex;}
.page .leftside,.page .rightside{color:#fff;position:relative;}
.page .leftside{background-color:[[setting:backgroundleftside]];margin-left: -2px;}
.page .rightside{background-color:[[setting:backgroundrightside]];}
.page .leftside .container{padding:30px;}
.page > .content{padding: 20px 30px 30px;}
.page > .content > div{margin-bottom:20px;}
.pagelayout-mydashboard .page > .content > div[role="main"]{padding:0;}
.page .breadcrumb{background-color: #fff;color:#60686b;box-shadow:none;border: 1px solid #cdd7d9; transition:all 0.3s;}
.page .breadcrumb-button,.page .breadcrumb-nav{margin:0;}
.page .breadcrumb-button input,.page .breadcrumb-button div{margin-bottom:0;}
.page .breadcrumb-button input{background: #fff;color:#60686b;box-shadow:none;border: 1px solid #cdd7d9; transition:all 0.3s;padding: 8px 15px;}
.page .breadcrumb-button input:hover{border-color:#60686b;}
.page .breadcrumb a{color:#60686b;font-weight:400;}
.page .breadcrumb a:hover{color:#333;text-decoration:none;}
.page .breadcrumb:hover{border-color:#60686b;}

 div[role="main"] > h2:first-of-type{margin-bottom: 10px;margin-top: 0;font-size:20px;line-height:32px;}
 
.page > .content .block_course_overview{border:none;box-shadow:none;}
.page > .content .block_course_overview > .header{display:none;}
.page > .content .block_course_overview > .content{margin:0;padding:0;}
.page > .content .block_course_overview > .content .course-wrapper{display:none;}
.page > .content .block_course_overview > .content .course-wrapper.alert-info{margin-top:5px;}
.page > .content .block_course_overview > .content .course-wrapper.active{display:block;}
.page > .content .block_course_overview > .content .course-wrapper.clearfix{background-color: #ecf0f1; margin: 0 -30px;padding: 30px;}
.page > .content .block_course_overview > .content .course-wrapper .course-row{margin-bottom:15px;border-radius:5px;background-color:#fff;padding:15px;}
.page > .content .block_course_overview > .content .course-wrapper .course-row:last-child{margin-bottom:0;}
.page > .content .block_course_overview > .content .course-wrapper .course-row .btn{background: rgb(152, 189, 49) none repeat scroll 0 0; border: 0 none; box-shadow: none; color: rgb(255, 255, 255); font-weight: 400; outline: 0 none;text-shadow: none;}
.page > .content .block_course_overview > .content .course-wrapper .course-row div{border:none;display:inline-block;vertical-align:middle;} 
.page > .content .block_course_overview > .content .course-wrapper .course-row .course-content{border-right:2px solid #f2f6f9;width:calc(100% - 183px);padding:0 15px;margin-right:15px;}
.page > .content .block_course_overview > .content .grades_boock.course-wrapper .course-row .course-content{width:calc(100% - 115px);}
.page > .content .block_course_overview > .content .course-wrapper .course-row .course-content h3{margin:0;padding:0 0 10px;color:#555;text-transform:none;font-weight:400;}
.page > .content .block_course_overview > .content .course-wrapper .course-row .course-content .course_info{font-weight:300;}
.page > .content .block_course_overview > .content .course-wrapper .course-row .course-content .course_info li{display:inline;}
.page > .content .block_course_overview > .content .course-wrapper .course-row .course-content .course_info li .separator{display:inline-block;margin:0 5px;}
.page > .content .block_course_overview > .content .course-wrapper .course-row .course-grade .grade{ width:40px; height: 21px;line-height:21px; position: relative;display:block;color: #fff; font-size: 20px;font-weight: 500;text-align:center;}
.page > .content .block_course_overview > .content .course-wrapper .course-row .course-grade .grade:before { content: "";position: absolute;top: -12px;left: 0;width: 0;height: 0;border-left: 20px solid transparent;border-right: 20px solid transparent;border-bottom: 12px solid transparent;}
.page > .content .block_course_overview > .content .course-wrapper .course-row .course-grade .grade:after { content: "";position: absolute;bottom: -12px; left: 0; width: 0; height: 0;border-left: 20px solid transparent;border-right: 20px solid transparent;border-top: 12px solid transparent;}
.page > .content .block_course_overview > .content .course-wrapper .course-row .course-grade .grade.g4-0{ background: #7DB9DC; }
.page > .content .block_course_overview > .content .course-wrapper .course-row .course-grade .grade.g4-0:before,.page > .content .block_course_overview > .content .course-wrapper .course-row .course-grade .grade.g4-0:after{border-bottom-color:#7DB9DC;border-top-color:#7DB9DC;}
.page > .content .block_course_overview > .content .course-wrapper .course-row .course-grade .grade.g3-5{ background: #8bc34a; }
.page > .content .block_course_overview > .content .course-wrapper .course-row .course-grade .grade.g3-5:before,.page > .content .block_course_overview > .content .course-wrapper .course-row .course-grade .grade.g3-5:after{border-bottom-color:#8bc34a;border-top-color:#8bc34a;}
.page > .content .block_course_overview > .content .course-wrapper .course-row .course-grade .grade.g3-0{ background: #cddc39; }
.page > .content .block_course_overview > .content .course-wrapper .course-row .course-grade .grade.g3-0:before,.page > .content .block_course_overview > .content .course-wrapper .course-row .course-grade .grade.g3-0:after{border-bottom-color:#cddc39;border-top-color:#cddc39;}
.page > .content .block_course_overview > .content .course-wrapper .course-row .course-grade .grade.g2-5{ background: #F7D04C; }
.page > .content .block_course_overview > .content .course-wrapper .course-row .course-grade .grade.g2-5:before,.page > .content .block_course_overview > .content .course-wrapper .course-row .course-grade .grade.g2-5:after{border-bottom-color:#F7D04C;border-top-color:#F7D04C;}
.page > .content .block_course_overview > .content .course-wrapper .course-row .course-grade .grade.g2-0{ background: #7ED8DD; }
.page > .content .block_course_overview > .content .course-wrapper .course-row .course-grade .grade.g2-0:before,.page > .content .block_course_overview > .content .course-wrapper .course-row .course-grade .grade.g2-0:after{border-bottom-color:#7ED8DD;border-top-color:#7ED8DD;}
.page > .content .block_course_overview > .content .course-wrapper .course-row .course-grade .grade.g1-5{ background: #ffa726; }
.page > .content .block_course_overview > .content .course-wrapper .course-row .course-grade .grade.g1-5:before,.page > .content .block_course_overview > .content .course-wrapper .course-row .course-grade .grade.g1-5:after{border-bottom-color:#ffa726;border-top-color:#ffa726;}
.page > .content .block_course_overview > .content .course-wrapper .course-row .course-grade .grade.g1-0{ background: #ff7043; }
.page > .content .block_course_overview > .content .course-wrapper .course-row .course-grade .grade.g1-0:before,.page > .content .block_course_overview > .content .course-wrapper .course-row .course-grade .grade.g1-0:after{border-bottom-color:#ff7043;border-top-color:#ff7043;}
.page > .content .block_course_overview > .content .course-wrapper .course-row .course-grade .grade.g0{ background: #EBF0F3;color:transparent;}
.page > .content .block_course_overview > .content .course-wrapper .course-row .course-grade .grade.g0:before,.page > .content .block_course_overview > .content .course-wrapper .course-row .course-grade .grade.g0:after{border-bottom-color:#EBF0F3;border-top-color:#EBF0F3;}
.page > .content .block_course_overview > .content .course-wrapper .course-row:hover{background-color:#f8f9fd;}
.page > .content .block_course_overview > .content .course-wrapper .course-row .course_progress{line-height:0;}
.page > .content .block_course_overview > .content .course-wrapper .course-row .course_progress .prog{position:relative;display:inline-block;}
.page > .content .block_course_overview > .content .course-wrapper .course-row .course_progress .prog svg{display:block;}
.page > .content .block_course_overview > .content .course-wrapper .course-row .course_progress .prog .caret-right{border: 7px solid transparent; border-left: 12px solid #346a96; left: 41%;position: absolute;top: 34%;}
.page > .content .block_course_overview > .content .course-wrapper .course-row .course_progress .prog .fa-check{color: #346a96;font-size: 22px;left: 14px;position: absolute;top: 13px;}
.page > .content .block_course_overview > .content .course-wrapper .course-row .course-grade-number{width:50px;padding-right:15px;margin-right:15px;border-right:2px solid #f2f6f9;text-align:center;line-height:52px;}
 
.page > .content .block_course_overview > .content .course-wrapper.my_teach_courses .course-row .course-content .course_info li:not(:first-child){margin-left:5px;display:inline-block;}
.page > .content .block_course_overview > .content .course-wrapper.my_teach_courses .course-row .course-content{width:calc(100% - 390px);}
.page > .content .block_course_overview > .content .course-wrapper.my_teach_courses .course-row .additional_info li {float:left;font-weight:400;}
.page > .content .block_course_overview > .content .course-wrapper.my_teach_courses .course-row .additional_info li:not(:first-child) {margin-left:15px;}
 
.page > .content .block_course_overview > .content .statistics{background-color:#f4f8fb;border-top:1px solid #e9edf0;border-bottom:1px solid #e9edf0;height:170px;margin: 0 -30px 30px;}
.page > .content .block_course_overview > .content .statistics .standart{padding: 20px;width: 20%;border-right:1px solid #e9edf0;height:100%;float:left;position:relative;}
.page > .content .block_course_overview > .content .statistics .standart:after {content: '';position: absolute;right: 7px; top: 7px;border: 7px solid transparent; border-top: 7px solid #dce1e5; border-right: 7px solid #dce1e5;}
.page > .content .block_course_overview > .content .statistics .standart .top{margin:0;color:#8f9ba9;}
.page > .content .block_course_overview > .content .statistics .standart .top .fa{margin-right:10px;vertical-align:middle;font-size:20px;}
.page > .content .block_course_overview > .content .statistics .standart .top span{vertical-align:middle;}
.page > .content .block_course_overview > .content .statistics .statistic_content{color:#5a6777;text-align:center;}
.page > .content .block_course_overview > .content .statistics .statistic_content h2{margin:0;font-weight:500;line-height:21px;}
.page > .content .block_course_overview > .content .statistics .statistic_content p{font-size:16px;}
.page > .content .block_course_overview > .content .statistics .advanced{width:40%;padding:10px 20px;float:left;height:100%;}
.page > .content .block_course_overview > .content .statistics .advanced img{display:block;margin:0 auto 10px;max-height:100px;}
.page > .content .block_course_overview > .content .statistics .advanced .wrapper{width:50%;float:left;}
.page > .content .block_course_overview > .content .statistics .advanced h4{color:#5a6777;margin:0;font-size:16px;font-weight:400;}
.page > .content .block_course_overview > .content .statistics .advanced h5{color:#5a6777;margin:0;margin-bottom:5px;font-size:14px;}
.page > .content .block_course_overview.block_with_controls > .content .singleselect{display:block;}
.page > .content .block_course_overview.block_with_controls > .content .singleselect select,.page > .content .block_course_overview.block_with_controls > .content .singleselect label{display:inline-block;}
.block_course_overview .content .notice { display:none;}

.page > .content .block_course_overview > .content .course_grades.course-wrapper .course-row .course-content{border-right:0 none;padding:0;margin:0;width:100%;}
.page > .content .block_course_overview > .content .course_grades.course-wrapper .course-row .course-content h3{padding:0;}
.page > .content .block_course_overview > .content .course_grades.course-wrapper .course-row.open .course-content{border-bottom:2px solid #f2f6f9;padding:0 0 15px;}
.page > .content .block_course_overview > .content .course_grades .course-content li{float:right;margin-right:15px;}
.page > .content .block_course_overview > .content .course_grades .course-content li:first-child{float:left;}
.page > .content .block_course_overview > .content .course_grades .course-content li:nth-child(2){margin-right:0;}
.page > .content .block_course_overview > .content .course_grades .course-content li .more{border: 1px solid #ddd;border-radius: 50%;color: #666;font-size: 16px;height: 20px;line-height: 17px;padding-left: 4px;width: 20px;cursor:pointer;}
.page > .content .block_course_overview > .content .course_grades .course-content li .more.fa-angle-up{line-height: 14px;}
.page > .content .block_course_overview > .content .course_grades .course-content li.missing a{color:#b94a48;}
.page > .content .block_course_overview > .content .course_grades.course-wrapper .course-row .modules_info{padding:10px 15px 0;display:none;text-align:left;font-size:13px;}
.page > .content .block_course_overview > .content .course_grades.course-wrapper .course-row .modules_info + ul.category {padding-left:20px;}
.page > .content .block_course_overview > .content .course_grades.course-wrapper .course-row ul.module + .modules_info {border-top: 2px solid #f2f6f9;padding: 5px 0 0 20px;}
.page > .content .block_course_overview > .content .course_grades.course-wrapper .course-row.open .modules_info{display:block;}
.page > .content .block_course_overview > .content .course_grades .modules_info ul{margin-bottom:5px;}
.page > .content .block_course_overview > .content .course_grades .modules_info ul li{float:right;margin-right:15px;}
.page > .content .block_course_overview > .content .course_grades .modules_info ul li:first-child{float:left;max-width: calc(100% - 370px);}
.page > .content .block_course_overview > .content .course_grades .modules_info ul li h3{margin:0;padding:0;color:#555;text-transform:none;font-weight:400;font-size:14px;}

.page > .content .block_course_overview > .content .list.course-wrapper .course-row .course-content{border-right:0 none;padding:0;margin:0;width:100%;}
.page > .content .block_course_overview > .content .list.course-wrapper .course-row .course-content h3{padding:0;}
.page > .content .block_course_overview > .content .list.course-wrapper .course-row.open .course-content{border-bottom:2px solid #f2f6f9;padding:0 0 15px;}
.page > .content .block_course_overview > .content .list .course-content li{float:right;margin-right:15px;}
.page > .content .block_course_overview > .content .list .course-content li:first-child{float:left;}
.page > .content .block_course_overview > .content .list .course-content li:nth-child(2){margin-right:0;}
.page > .content .block_course_overview > .content .list .course-content li .more{border: 1px solid #ddd;border-radius: 50%;color: #666;font-size: 16px;height: 20px;line-height: 17px;padding-left: 4px;width: 20px;cursor:pointer;}
.page > .content .block_course_overview > .content .list .course-content li .more.fa-angle-up{line-height: 14px;}

.page > .content .block_course_overview > .content .list.course-wrapper .course-row .users_info{padding:10px 15px 0;display:none;text-align:left;font-size:13px;}
.page > .content .block_course_overview > .content .list.course-wrapper .course-row.open .users_info{display:block;}
.page > .content .block_course_overview > .content .list .users_info ul{margin-bottom:5px;}
.page > .content .block_course_overview > .content .list .users_info ul li{float:right;margin-right:15px;}
.page > .content .block_course_overview > .content .list .users_info ul li:last-child{width:75px;}
.page > .content .block_course_overview > .content .list .users_info ul li:first-child{float:left;max-width: calc(100% - 215px);}
.page > .content .block_course_overview > .content .list .users_info ul li h3{margin:0;padding:0;color:#555;text-transform:none;font-weight:400;font-size:14px;}
.page > .content .block_course_overview > .content .list.enrolled-users .users_info ul li:last-child{width:140px;text-align:right;}

.page > .content .block_course_overview > .content .list.course-wrapper .course-row .modules_info{padding:10px 15px 0;display:none;text-align:left;font-size:13px;}
.page > .content .block_course_overview > .content .list.course-wrapper .course-row.open .modules_info{display:block;}
.page > .content .block_course_overview > .content .list .modules_info ul{margin-bottom:5px;}
.page > .content .block_course_overview > .content .list .modules_info ul li{float:right;margin-right:15px;}
.page > .content .block_course_overview > .content .list .modules_info ul li:last-child{width:85px;}
.page > .content .block_course_overview > .content .list .modules_info ul li:first-child{float:left;max-width: calc(100% - 215px);}
.page > .content .block_course_overview > .content .list .modules_info ul li h3{margin:0;padding:0;color:#555;text-transform:none;font-weight:400;font-size:14px;}

.course-heading{background: #f16645 none repeat scroll 0 0; margin: -21px -30px 50px; font-size:15px; color:#fff;padding:8px 30px}
.course-heading a{font-weight:400; color:#fff;}
.course-heading a:hover{color:#fff;}
.block_schools_menu .header{display:none}

 
.page .rightside {padding:0;}
.page .rightside > .container{width:280px;padding:0;overflow:hidden;padding-bottom:70px;}
.page .rightside .course-progress{background-color:[[setting:backgroundcourseprogress]];padding:30px 15px;color:#fff;}
.page .rightside .course-progress h2{margin:0;color:#fff;line-height:21px;}
.page .rightside .progres-bar{width: calc(100% - 55px);height:5px;background-color:rgba(0,0,0,0.15);transition:all 0.5s;vertical-align: middle;display:inline-block;}
.page .rightside .progres-bar .progres{height:100%;background-color:#fff;transition:all 0.5s;float:left;}
.page .rightside .progres-step {position: relative;border-radius: 3px;padding: 5px;background-color:rgba(0,0,0,0.15);margin-right:10px;font-size:13px;font-weight:500;}
.page .rightside .course-content{padding:15px;}
/*.page .rightside #section-0,  */.page .rightside .fa.dropdown,.page .rightside .show-activity,.page .rightside .section.tabs, .page .rightside .course-nav .section > .side{display:none;}
.editing .section .activity .contentwithoutlink, .editing .section .activity .activityinstance{padding-right:60px;}
.editing .section .activity .activityinstance .editing_title{display:none;}
.page .rightside .course-nav{padding:30px;}
.page .rightside .course-nav .sectionname{color:rgba(255,255,255,0.4);border-bottom:1px solid rgba(255,255,255,0.4);font-weight:500;font-size:14px;padding-bottom:3px;}
.page .rightside .course-nav .activity{position:relative;}
.page .rightside .course-nav .activity .activityicon{float:right;}
.page .rightside .course-nav .activity .instancename{float:left;color:rgba(255,255,255,0.4);font-size:14px;font-weight:500;}
.page .rightside .course-nav .activity .instancename:hover{text-decoration:underline;}
.page .rightside .course-nav .activity .activityinstance, .page .rightside .course-nav .activity .activityinstance div, .page .rightside .course-nav .activity .mod-indent-outer{display:block;}
.page .rightside .course-nav .section {margin-bottom:10px;}

.page .rightside .block_recent_activity > .header,.page .rightside .block_calendar_month > .header{display:none;}
.page .rightside .block_recent_activity.block_with_controls > .header,.page .rightside .block_calendar_month.block_with_controls > .header{display:block;}
.page .rightside .block_recent_activity > .content .activityhead{display:none;}
.page .rightside .block_recent_activity > .content,.page .rightside .block_calendar_month > .content {padding-top:20px;}
.page .rightside .block_recent_activity > .content .activity{padding:0 20px;}
.page .rightside .block_recent_activity > .content h3{border-bottom: 1px solid #999;color: #ccc;padding-bottom: 5px; margin-bottom:10px;font-weight:400;text-shadow:none;}
.page .rightside .block_recent_activity > .content p{font-weight:normal;}
 
 .block .calendar-event-panel .yui3-overlay-content{background-color:[[setting:backgroundrightside]];border:1px solid #ccc;}
 .block .calendar-event-panel{border:0 none;}
 
 .dashboard{margin-bottom:20px;color:#333;}
.block.block_schools_statistic .row-fluid .span4 .line-control{ padding-left: 25px;}
.block.block_schools_statistic .row-fluid .span4 .line-control label{ float: left; font-size: 14px;font-weight: 300; margin-right: 15px; padding: 5px;}
.block.block_schools_statistic .row-fluid .span4 .line-control label:last-child{ margin-right: 0;}
.block.block_schools_statistic .row-fluid .span4 .line-control label.active{ border-bottom: 2px solid #ddd;}
.dashboard .coll3,.dashboard .coll4,.dashboard .coll5{display:inline-block;vertical-align:middle;width:32%;}
.dashboard .coll5, .dashboard .coll3{margin-right:2%;}
.dashboard .image{float:left;width:30%;padding-top: 5px;}
.dashboard .image img.userpicture {border-radius: 50%;height: auto;margin-right:15px;max-width: 100px;width: 100%;}
.dashboard .wrapper{float:left;width:70%;padding-left:10px;}
.dashboard strong{font-weight:400}
.dashboard h2{font-size: 28px; font-weight: 300;margin: 0;text-align: left;}
.dashboard h3{margin-bottom:0;line-height:24px;}
.dashboard p{font-size:15px;margin:0;line-height: 26px;}
.dashboard p a{ font-family: Arial;font-size: 13px;line-height: 26px;}
.block .content .dashboard h3{margin: 5px 0 0;padding:0;}
.dashboard h3 p{display:inline-block;width: 80px; text-align:center;border-right:1px solid #ddd;}
.dashboard h3 p:last-child{border-right:0;}
.dashboard h3 p strong{display:block; font-size: 19px; font-weight: 300;}
.dashboard h3 p span{display:block; font-size: 13px; font-weight: 400;color:#999;line-height:18px;}

.dashboard h6{ font-size: 14px; font-weight: 300;margin:0 0 5px;}
.dashboard .item:not(:first-child) {margin-top:15px;}
.dashboard .progress.thin {height:4px;margin:0;}

ul.dashboard{padding-top:20px;margin-bottom:15px;}
ul.dashboard li {float:left;width:15%;text-align:center;border-bottom:3px solid transparent;padding-bottom:5px;}
ul.dashboard li.action.active{border-bottom-color:#69a8d4;}
ul.dashboard li.action{cursor:pointer;}
ul.dashboard li:not(:last-child){margin-right:2%;}
ul.dashboard li strong{font-size:22px;}
ul.dashboard li p{font-size:13px;margin-top:10px;line-height:20px;}
.page > .content > div#page-navbar + ul.dashboard{padding-top:0;}

.morris-hover{position:absolute;z-index:1000}.morris-hover.morris-default-style{border-radius:10px;padding:6px;color:#666;background:rgba(255,255,255,0.8);border:solid 2px rgba(230,230,230,0.8);font-family:sans-serif;font-size:12px;text-align:center}.morris-hover.morris-default-style .morris-hover-row-label{font-weight:bold;margin:0.25em 0}
.morris-hover.morris-default-style .morris-hover-point{white-space:nowrap;margin:0.1em 0}

.page .leftside > .container{width:220px;}
.page .leftside {/* width:50%;max-width:220px; */}
.page .leftside .logo{text-align:center;padding-top:15px;}

.page .leftside table tr td {background:none;}
.page .leftside table tr:hover td {background-color:rgba(255,255,255,0.1);}

.page .course-name{background-color:[[setting:backgrounduserblock]];padding:25px 15px 15px;margin:0;line-height:33px;}
.page .course-name.welcome{font-size: 22px;line-height: 26px;text-align:center;}
.page .course-name.welcome span{display:block;font-size:20px;}
.page .course-name.welcome span.course{font-size:16px; font-weight: 300;}
.page .course-name.welcome a img{display: block; margin:8px auto; border-radius: 50%; width: 65px;}

.page .user-header{
	background-color: #f96b5d;
	margin: 0;
    padding: 25px 15px 15px;
}
.page .user-header > a{display:block; float:left;width:18%; }
.page .user-header a  img{ border-radius: 50%; width: 45px;}
.page .user-header h4{width:78%; float:right;margin:0; }
.page .user-header h4 span{display:block;font-size:16px; }
.page .user-header h4 span.user{margin-bottom: 5px;font-weight:500}
.page .user-header h4 span.course{font-size: 14px; margin-bottom: 2px;}
.page .user-header h4 a{font-size: 12px;color:#fff;}
.page .user-header h4 i {padding: 0 8px 0 5px; font-weight: 300;}

.page .user-right{background-color:[[setting:backgrounduserblock]];padding:15px;position:relative;}
.page .user-right img{width:45px;margin-right: 10px;border-radius:50%;}
.page .user-right:before{background-color: rgba(255, 255, 255, 0.3); bottom: 0;content: "";display: block;height: 20px;left: 37px;position: absolute;width: 1px;}
.page .user-right a{float:left;}
.page .user-right .by{float:left;width:70%;}
.page .user-right .name{font-weight:500;float:left;}

img.iconsmall{padding:0;}
.section .moodle-actionmenu[data-enhanced] .menu img{height:16px;width:16px;}

#page-user-profile .node_category li, .path-user .node_category li {list-style-type: none;}
.mform fieldset.collapsible legend a.fheader{margin-left: 0;}
.jsenabled .block_settings .block_tree .tree_item.branch {background-position: left center;filter: brightness(200);}
.block_settings .block_tree li.item_with_icon > p img, .block_settings .block_action img{filter: brightness(100); margin-left: -22px;margin-right: 7px;position: relative;max-width:12px;}
.block_settings .block_tree li.item_with_icon > p{line-height:22px;}
.page .rightside .block .header img{filter: brightness(140%); max-height:12px;margin-right:0;}
.block_settings .block_tree .tree_item.branch{background-size:14px;}
.block_settings .block_tree .tree_item{margin:0;}
.block_settings .footer input{width:100%;background:[[setting:backgroundrightside]];color:#ddd;border-color:#ddd;box-shadow:none;text-shadow:none;}
.block_settings #adminsearchquery{max-width:100%;}
.block_settings .footer input:focus{box-shadow:none;}
.block_settings .footer input[type="submit"]{margin:0;}
.block_settings .footer label{margin-top:5px;position:relative;left:0;font-size:16px;font-weight:300;}
.block_settings .block_tree .active_tree_node{font-weight:500;}

table.flexible th, .generaltable th {font-weight: 400;}

.addresourcemodchooser .section-modchooser-link a{-moz-user-select: none;background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 4px;color: #333;cursor: pointer;display: inline-block;font-size: 14px;font-weight: normal;line-height: 1.42857;margin: 10px;padding: 6px 12px;text-align: center;vertical-align: middle;white-space: nowrap;}
.addresourcemodchooser .section-modchooser-link a:hover{border-color:#aaa;text-decoration:none;}
.addresourcemodchooser .section-modchooser-link a img {display:none;}
.addresourcemodchooser .section-modchooser{text-align:center;}

.pagelayout-mydashboard .page > .content{position:relative;overflow:hidden;}
.pagelayout-mydashboard .page > .content .mydashboard:after {background-color: #ecf0f1;z-index:-1;content: ""; display: block;height: 100%;left: 0;margin-top: -30px;position: absolute;width: 100%;}
.pagelayout-mydashboard .page > .content .mydashboard #fgroup_id_buttonar{margin-bottom:30px;margin-left:-30px;margin-right:-30px;background-color: #ecf0f1;}

#page-local-schools_notifications-notifications .page > .content > .standard:after {background-color: #ecf0f1;z-index:-1;content: ""; display: block;height: 100%;left: 0;margin-top: -30px;position: absolute;width: 100%;}
#page-local-schools_notifications-notifications.notifi_empty .page > .content > .standard:after {display:none;}
#page-local-schools_notifications-notifications .page > .content {position:relative;overflow:hidden;}

.dashboard{margin-bottom: 20px !important;}
.dashboard-menu{margin-bottom: 0 !important;}
.dashboard-menu label{border-bottom: 3px solid #fff; display: inline-block;font-size: 15px;line-height: 44px;margin: 0 30px 0 0;padding: 0 2px;}
.dashboard-menu label.active{border-bottom: 3px solid #69a8d4;}
.dashboard-menu label.hidden{display:none;}
.dashboard-menu label.hidden.active{display: inline-block;visibility: visible;}
/*.pagelayout-mydashboard.page > .content header{border-bottom: 1px solid #eee;padding-bottom:20px;} */
.page > .content header{border-bottom: 1px solid #eee;padding-bottom:20px;}

#page-grade-report-overview-index .standard .no-overflow h3{display:none;}

.activity-more{text-align:center;padding:15px 0 10px;}
.activity-more .down .fa-angle-down{display:inline-block;}
.activity-more .down .fa-angle-up{display:none;}
.activity-more .up{background-color:#df4a32;}
.activity-more .up.fa-angle-up{display:inline-block;}
.activity-more .up .fa-angle-down{display:none;}

.course-content #section-0{display:block;}
.course-content #section-0 div > .accesshide{left:0;}

#dndupload-status{top:105px;z-index:0;box-shadow:none;}

.block_adminblock select{background-color:[[setting:backgroundrightside]];color: rgba(255, 255, 255, 0.9);width: 100%;max-width:100%;}
.block_adminblock .singleselect{width: 100%;}

.gradeparent, .report > div > .no-overflow{overflow:auto;border:1px solid #ddd;border-radius:4px;max-height: 90vh;max-width:100%;display:inline-block;padding-right:18px;}
.gradeparent .floater.heading:nth-child(3), .report > div > .no-overflow .floater.heading:nth-child(3){left:0!important;}
.path-grade-report-grader .gradeparent table{border:0 none;margin-bottom:0;}
.path-grade-report-grader .gradeparent table th:last-child,.path-grade-report-grader .gradeparent table td:last-child{border-right:0 none;}

#page-grade-report-singleview-index .reporttable:after{content: "";display: table;line-height: 0;clear: both;}
#page-grade-report-singleview-index .reporttable .selectitems{float:left;}
#page-grade-report-singleview-index .reporttable .generaltable{clear: both;float: none;}
#page-grade-report-singleview-index .reporttable form .singleview_buttons:first-child{float:right;margin-top:-40px;}
#page-grade-report-singleview-index .reporttable form + .selectitems{margin-top: -49px;}
#page-grade-report-singleview-index .groupselector{margin-bottom: 15px;}
#page-grade-report-singleview-index .page-context-header .header-button-group{padding-bottom:10px;}

#page-grade-edit-tree-index .buttons .singlebutton {display: inline-block;}


#scormviewform label + input{margin-left:7px;}

.path-mod-forum .forumheaderlist{border:1px solid #ddd;}
.path-mod-forum .forumheaderlist td{padding:7px;}
.path-mod-forum .forumheaderlist thead th{border-bottom:1px solid #ddd;padding-bottom:4px;padding-top:4px;}
.path-mod-forum .forumheaderlist td:not(:last-child){border-right:1px solid #ddd;}

.progress {
    background: #e4e5e6 none repeat scroll 0 0;
    border-radius: 2px;
    box-shadow: none;
}
.progress .progress-bar {
    background-color: #20a8d8;
    box-shadow: none;
}
.progress .progress-bar.progress-bar-success {
    background-color: #4dbd74;
}
.progress .progress-bar.progress-bar-info {
    background-color: #63c2de;
}
.progress .progress-bar.progress-bar-warning {
    background-color: #f8cb00;
}
.progress .progress-bar.progress-bar-danger {
    background-color: #f86c6b;
}
.progress.thin {
    height: 10px;
}
.progress.thin .progress-bar {
    font-size: 6px;
    line-height: 10px;
	height: 100%;
}
.sr-only {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


.leftside .block, .rightside .block{border:none;box-shadow:none;background-color:transparent;}
.rightside .block{padding:20px 20px 0px;}
.rightside .block .calendar_event_course{background-color:transparent;}
.leftside .block input[type="text"]{width:100%;}
.leftside .block .header, .rightside .block .header{background-color:rgba(0,0,0,0.3);transition:all 0.3s;padding:10px;border-radius:4px;margin-bottom:15px;}
.leftside .block .header h2, .rightside .block .header h2{font-weight:300;font-size:16px;line-height:19px;transition:all 0.3s; text-shadow:none;color:rgba(255, 255, 255, 0.9); padding:0; text-transform: capitalize; }
.leftside .block .header .block-hider-hide, .rightside .block .header .block-hider-hide{position:relative;z-index:5;}
.leftside .block.hidden .header .block_action:after, .rightside .block.hidden .header .block_action:after{opacity:1;}
.leftside .block .content, .rightside .block .content{font-size: 14px; font-weight:300;color:rgba(255, 255, 255, 0.9);padding:0 8px;}
.leftside .block .content ul li, .rightside .block .content ul li{line-height:26px;}
.leftside .block .content hr, .rightside .block .content hr{display:none;}
.leftside .block .content a, .rightside .block .content a{color:#fa7252;}
.leftside .block .header .block_action, .rightside .block .header .block_action {padding: 0 0 0 15px;line-height:17px;}


.loginpanel input[type="text"], .loginpanel input[type="submit"]{max-width:100%;width:100%;}
.loginpanel .forgetpass, .loginpanel .rememberpass{margin-top:10px;}
.loginpanel .loginerrors{margin-bottom:10px;}

/* start login */
.guest{background-color:#253846;margin: 0;}
.guest .page{bottom: 0; max-height: 370px;min-height:0; left: 0; margin: auto; position: absolute; right: 0; top: 0;max-width: 800px;width:95%;padding: 20px /* 0 0 */;display:block;}
.guest .page #page-content{display:table;/* height:100%;width:100%; */}
.guest .login-info{width:50%;background-color:#ec6853;border-radius:5px 0 0 5px;display:table-cell;vertical-align: middle;text-align: center;color:#fff;padding:20px;}
.guest .login-info h2{color: #fff;font-size: 17px;margin-bottom: 0;margin-top: 15px;}
.guest .login-info .logo img{-moz-filter:brightness(5000%);-webkit-filter:brightness(5000%);-o-filter:brightness(5000%);-ms-filter:brightness(5000%);filter:brightness(5000%);}
.guest .login-form{width:50%;background-color:#fff;border-radius:0 5px 5px 0;display:table-cell;vertical-align: middle;padding:30px;}
.guest .login-form .title{margin-bottom:60px;color:#d6dadd;font-size:24px;font-weight:300;}
.guest .login-form .title .active{color:#df5b57;}
.guest .login-form .title a{color:#d6dadd;}
.guest .login-form .title a:hover{text-decoration:none;color:#b7b8bb;}
.guest .login-form input[type="text"], .guest .login-form input[type="password"],.guest .login-form #region-main input[type="submit"]{width:100%;max-width:100%;appearance:none;-moz-appearance:none; -webkit-appearance:none;border:none;border-radius:0;border-bottom:1px solid #e8e8f0;color:#666;box-shadow:none; height: 32px; line-height: 32px;padding: 0;font-weight:500;margin-bottom:15px;background:none;}
.guest .login-form select{width:100%;border-radius:4px;max-width:100%;border:none;border:1px solid #e8e8f0;color:#666;box-shadow:none; height: 32px; line-height: 32px;padding: 0;font-weight:500;margin-bottom:15px;background:none;}
.guest .login-form #region-main input[type="submit"]{background:none;border:1px solid #e8e8f0;border-radius:4px;transition:all 0.3s;text-shadow:none;margin-left:0;}
.guest .login-form #region-main input[type="submit"]:hover{background:none;border-color:#cecfd3;}
.guest .login-form label{font-weight:300!important;}
.guest .login-form input::-webkit-input-placeholder {color:#666;opacity:0.5;}
.guest .login-form input::-moz-placeholder {color:#666;opacity:0.5;}
.guest .login-form input:-ms-input-placeholder {color:#666;opacity:0.5;}
.guest .login-form input:focus{border-bottom-color:#cecfd3;box-shadow:none;outline:0;}
.guest .login-form #region-main .fitem_actionbuttons.fitem_fgroup,.guest .login-form #region-main .fdescription{margin:0;padding:0;background:none;border:none;}
.guest .login-form .button-box{margin-top:60px;}
.guest .login-form .button{padding:5px 20px;border-radius:20px;color:#e0605f;border:1px solid #e0605f;float:left;line-height:19px;background:none;}
.guest .login-form .button:hover{opacity:0.9;background:none;}
.guest .login-form .social{float:right;}
.guest > center{display:none;}
.guest .login-form .social > div{padding:0!important;}
.guest .login-form .social a{color:#fff;text-align:center;border-radius:50%;border:1px solid transparrent;height:30px;width:30px;display: inline-block;margin-left:10px;}
.guest .login-form .social a:hover{opacity:0.9;}
.guest .login-form .social a .fa{font-size:19px;line-height:31px;}
.guest .login-form .social a.facebook{background-color:#5e85bc;border-color:#6783aa;padding-right: 1px;}
.guest .login-form .social a.googleplus{background-color:#ec6853;border-color:#e56558;}
.guest .login-form .social a.o365 img{vertical-align:-50%;}
.guest .login-form .box.generalbox{display:block;}
.guest .login-bottom{text-align:center;color:#cadbe5;padding-top:15px; }
.guest .login-bottom a{color:#fff;font-weight:400;}
.guest .login-bottom .separator{margin:0 10px;}
.guest .box.generalbox{display:none;}
.guest .mform .fitem div.fitemtitle{display: block;width: auto;}
.guest .mform .fitem .felement{margin-left: 100px;}
.guest .mform .fitem_actionbuttons .felement{margin-left: 0;}
.guest .mform .fitem .felement input{box-sizing: border-box; }
.guest #region-main .mform .fitem .felement input[type="submit"]{float: right;margin: 0; width: 49%;}
.guest #region-main .mform .fitem .felement input[type="submit"]:first-child{margin-left: 2%;}

.guest .login-form .collapsible-actions,.guest .login-form #id_createuserandpass .ftoggler,.guest .login-form #id_supplyinfo .ftoggler,.guest .login-form .femptylabel,.guest .login-form .unmask,.guest .login-form #fitem_id_city,.guest .login-form #fitem_id_country,.guest .login-form .fdescription{display:none;}

@media screen and (max-width: 800px) {
	.guest .login-info{border-radius: 5px 5px 0 0; display: block; padding: 20px; width: 100%;}
	.guest .login-form{border-radius: 0 0 5px 5px; display: block;width: 100%;}
	.guest .page #page-content{display:block;}
	.guest .page{max-height: 570px;}
}
/* end login */

.course-progress .singlebutton:not(:first-child){margin-top:5px;}
.course-progress .singlebutton div{margin:0;width:100%;text-align:center;}
.course-progress .singlebutton div input{margin:0;display:inline-block;text-transform: capitalize;background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: 1px solid #fff;box-shadow: none;color: #fff;text-shadow: none;transition:opacity 0.3s;}
.course-progress .singlebutton div input:hover{opacity:0.7;}
.course-progress .singlebutton div input:not(:first-child){margin-top:10px;}


select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{height:auto;}

.file-picker .fp-list .fp-repo-icon{padding:0;}

#toggle-menu{display:none;}
.toggle-box{display:none;width:100%;}

.fp-toolbar .fp-btn-additional{-moz-border-bottom-colors: none;-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;background: white none repeat scroll 0 0;border-color: #ccc #ccc #b3b3b3;border-image: none;border-radius: 4px;border-style: solid;border-width: 1px;height: 30px;width: 30px;}
.fp-toolbar .fp-btn-additional a{border-radius: 4px;display: block;padding:5px;height:100%;}
.fp-toolbar .fp-btn-additional a img{display: inline-block;margin: 0;vertical-align: sub;}
.fp-toolbar .fp-btn-add{display: none;}
.fp-toolbar div{margin-bottom:4px;}
.fp-btn-add a, .fp-btn-download a, .fp-btn-mkdir a, .fp-tb-help a, .fp-tb-manage a, .fp-tb-logout a, .fp-tb-refresh a {height:100%;width:100%;}
.fp-viewbar a{height:100%;}
.content .mydashboard .felement.ffilemanager{margin-left:0;}
.content .mydashboard .filemanager-toolbar{width:100%;}
.content .mydashboard .mform .fitem div.fitemtitle{padding-top:0;text-align:left;}

.rightside .block_schools_calendar .course-calendar-events .alert-success {background-color: transparent; border-color: transparent; color: #999;text-shadow: none;padding:0;font-size:14px;}
.rightside .block_schools_calendar .course-calendar-events > br {display:none;}
.rightside .block_schools_calendar .content {padding:0;}

.forumpost{box-shadow:none;background-color:transparent;}
.path-mod-forum .discussionsubscription > a > img{padding:0;}
#page-mod-forum-discuss .discussioncontrols .discussioncontrol{min-height:35px;padding-bottom:5px;}
#page-mod-forum-discuss .discussioncontrols .discussioncontrol .singleselect{max-width:100%;}
#page-mod-forum-discuss .discussioncontrol.movediscussion{float:right;padding:0;}
#page-mod-forum-discuss .discussioncontrol.displaymode{float:right;}

.userenrolment{margin-bottom:10px;}
.userenrolment thead{border-right:1px solid #ddd;border-left:1px solid #ddd;border-top:1px solid #ddd;}
.userenrolment thead th{padding:10px 5px 0;}
.userenrolment tbody{border:1px solid #ddd;}
.userenrolment td{padding:5px;}
.userenrolment td:not(:last-child),.userenrolment th:not(:last-child){border-right:1px solid #ddd;}
.userenrolment .subfield { margin-right: 10px;}
#page-enrol-users div[role="main"] > h2{float:left;}
#page-enrol-users div[role="main"] > h2 + .enrol_user_buttons{margin-top:5px;}
#page-enrol-users #filterform{width:100%;box-shadow:none;background-color:#f9f9f9;border-color:#ddd;}
#page-enrol-users #filterform input{box-shadow:none;}

#page-login-logout .base .box.generalbox{text-align:center;}
#page-login-logout .base .box.generalbox .singlebutton div,#page-login-logout .base .box.generalbox .singlebutton input{margin:0;}
#page-login-logout .base .box.generalbox .singlebutton + .singlebutton {margin-left:10px;}

.userprofile > h2{padding-left: 120px;position: absolute;margin-top:0;}
.userprofile .profilepicture img{border-radius:50%;}
.userprofile .description{padding-left:120px;text-align:justify;}

.path-grade div.urlselect{float:right;}
.path-grade div.urlselect #choosepluginreport, #page-grade-report-grader-index .urlselect .categories{float:left;}
.path-grade div.urlselect #choosepluginreport .select{margin:0 10px 0 0;}
.path-grade div[role="main"] > h2{padding-right:200px;line-height: 27px;margin-bottom:20px;}
#page-grade-report-grader-index div[role="main"] > h2{padding-right:400px;margin-bottom:10px;}
#page-grade-report-grader-index .groupselector{float:right;margin-top:12px;}
#page-grade-report-grader-index .groupselector + form{float:left;}
#page-grade-report-grader-index .groupselector + form h3{margin-top:0;}
#page-grade-report-grader-index .paging{clear: both;float: none;}
.path-grade .itemnav{clear: both;float: none;}
#page-grade-report-singleview-index .page-context-header + .urlselect{margin-top:-46px;position:relative;z-index:2;}
#page-grade-report-overview-index .page-context-header + .urlselect{margin-top:-36px;position:relative;z-index:2;}
#page-grade-report-user-index .page-context-header + .urlselect select.select{margin-right:0;margin-left:10px;}

#page-grade-edit-tree-index #gradetreesubmit{padding-bottom:17px;}
#page-grade-edit-tree-index #gradetreesubmit:after{content: "";display: table;line-height: 0;clear: both;}
#page-grade-edit-tree-index #gradetreesubmit label,
#page-grade-report-overview-index #graded_users_selector label{display:inline-block;padding-right:10px;float:left;line-height: 29px;}
#page-grade-edit-tree-index #gradetreesubmit input{float:right;margin:0;}
#page-grade-edit-tree-index #gradetreesubmit select{float:left;}
#page-grade-edit-tree-index #gradetreesubmit br{display:none;}

.path-grade-edit-tree .setup-grades tr:after,.path-grade-report-user .user-grade tr:after {background-color: #f9f9f9;content: "";display: table-cell;width: 24px;}
.path-grade-edit-tree .setup-grades tr:first-child:after,.path-grade-report-user .user-grade tr:first-child:after{border-top: 1px solid #ddd;}
.path-grade-edit-tree .setup-grades thead tr:after, .path-grade-report-user .user-grade thead tr:after {background-color: #eee;}
.path-grade .generaltable thead tr th.header{border-top: 1px solid #ddd;background-color:#eee;vertical-align:middle;}
.path-grade .generaltable {border: 1px solid #ddd;}
.path-grade div[role="main"] .no-overflow > br{display:none;}
.path-grade .btn img{margin-right:5px;}
.path-grade .gradeparent .floater.avg.floating, .path-grade .report > div > .no-overflow .floater.avg.floating{display:none!important;}

dd.badges{margin:0;}
ul.badges{padding-top:10px;}
ul.badges li{width:130px;}
ul.badges li .badge-image{height: auto;max-width: 65px;}
ul.badges li .cname::after {background-color: #ddd;content: "";display: block;height: 1px;margin: 2px auto auto;width: 70%;}

@media screen and (max-width : 1200px) {
	#page-grade-report-grader-index div[role="main"] > h2{padding-right:0;}
	#page-grade-report-grader-index div.urlselect{float:none;padding-bottom:10px;}
}
@media screen and (max-width : 1000px) {
	body >.page{display:flex;flex-wrap: wrap;justify-content: center;-webkit-flex-wrap: wrap;-moz-flex-wrap: wrap;-ms-flex-wrap: wrap;align-content: flex-start;-webkit-align-content: flex-start;}
	.page.menu-open .rightside,.page.menu-open .leftside{max-height: 3000px;}
	.page .leftside{order: 1;-ms-flex-order: 1;-webkit-order: 1; -webkit-box-ordinal-group: 1; -moz-box-ordinal-group: 1; width: 50%;}
	.page .rightside{order: 2;-ms-flex-order: 2;-webkit-order: 2; -webkit-box-ordinal-group: 2; -moz-box-ordinal-group: 2;width: 50%;}
	.page .rightside > .container,.page .leftside > .container{width:100%;}
	.page > .content{order:4;-ms-flex-order: 4;-webkit-order: 4;-webkit-box-ordinal-group: 4; -moz-box-ordinal-group: 4;}
	.page .leftside,.page .rightside {max-height: 0;overflow: hidden;transition: max-height 2s ease 0s, padding 2s ease 0s;padding-bottom:0;padding-top:0;max-width:100%;}
	#toggle-menu{display:block;cursor:pointer;width:100%;background-color:[[setting:backgroundleftside]];transition:all 0.3s;padding:5px 0;font-size:22px;text-align:center;color:rgba(255,255,255,0.8);}
	#toggle-menu:hover{color:#fff;}
	.toggle-box{display:block;order:3;-ms-flex-order: 3;-webkit-order: 3;-webkit-box-ordinal-group: 3; -moz-box-ordinal-group: 3;}
	.page > .content{width: 100%;}
	.mydashboard div[role="main"]{margin-bottom:0;}
	.pagelayout-mydashboard .page > .content .mydashboard:after{display:none;}
}

@media screen and (max-width : 1360px) {
	.dashboard .coll3{width:40%;margin-right:0;}
	.dashboard .coll4{width:100%;margin-left:0;}
	.dashboard .coll5{width:58%;}
}
@media screen and (max-width : 1200px) {
	.page > .content .block_course_overview > .content .course-wrapper.my_teach_courses .course-row .course-content{border: medium none;margin-right: 0;width: calc(100% - 60px);}
	.page > .content .block_course_overview > .content .course-wrapper.my_teach_courses .course-row .additional_info{float:right;padding-left:15px;border-left:2px solid #f2f6f9;}
}
@media screen and (max-width : 700px) {	
	ul.dashboard li{width:32%;}
	ul.dashboard li:nth-child(3){margin-right:0;}
	ul.dashboard li:nth-child(n+4){margin-top:20px;}
	
	.userprofile > h2{padding-left:0;position: relative;margin-top:0;}
	.userprofile .profilepicture img{border-radius:50%;}
	.userprofile .description{padding-left:0;padding-top:5px;}
}

@media screen and (max-width: 480px) {
	.page .leftside{order: 1; width: 100%;-ms-flex-order: 1;-webkit-order: 1;-webkit-box-ordinal-group: 1; -moz-box-ordinal-group: 1;}
	.page .rightside{order: 2;-ms-flex-order: 2;-webkit-order: 2; -webkit-box-ordinal-group: 2; -moz-box-ordinal-group: 2;width: 100%;}
	
	.dashboard .coll3, .dashboard .coll4, .dashboard .coll5{width:100%;margin:0;}
	.page > .content .block_course_overview > .content .course-wrapper .course-row{text-align:right;}
	.page > .content .block_course_overview > .content .course-wrapper .course-row .course-content{width: calc(100% - 60px);margin-right:0;margin-bottom:10px;border:0;text-align:left;}
	.page > .content .block_course_overview > .content .course_grades.course-wrapper .course-row .course-content{width: 100%;}
	.notification-list .item{width:100%;margin-left:0!important;}	
	
	.page > .content .block_course_overview > .content .grades_boock.course-wrapper .course-row .course-content{width:calc(100% - 45px);}
	
	.page ul.dashboard li{width:48%;margin-right:2%;min-height: 65px;}
	.page ul.dashboard li:nth-child(2n){margin-right:0;}
	.page ul.dashboard li:nth-child(n+3){margin-top:20px;}
	.page ul.dashboard li p{font-size: 12px;line-height: 17px;margin-top: 5px;}
	.page ul.dashboard li strong {font-size: 19px;}
	.dashboard .coll5 > div, .dashboard .coll5 h2{width:100%;text-align:center;}
	.dashboard .coll5 .wrapper{padding-left:0;padding-top:10px;}
	
    html {
       -webkit-text-size-adjust: none;
    }
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
