.leftside .block.block_schools_menu{padding:0;}

.user-left_menu .item-content-wrap{font-weight:400;color:rgba(255, 255, 255, 0.5);padding-left:10px;font-size:15px;vertical-align:middle;}
.user-left_menu a:hover{text-decoration:none;outline:none;}
.user-left_menu a{outline:none;display:block;line-height: 54px;position:relative;}
.user-left_menu li img{height:20px;opacity:0.5;vertical-align:middle;}
.user-left_menu li.active img,.user-left_menu li:hover img{opacity:1;}
.user-left_menu li.active .item-content-wrap,.user-left_menu li:hover .item-content-wrap{color:#fff;}

.block.block_schools_menu .user-left_menu .dropdown-menu{top:0;background-color:transparent; border: medium none; box-shadow: none;position: relative;width: 100%;padding:0 0 10px;margin:0;}
.block.block_schools_menu .user-left_menu .dropdown-menu a{color:rgba(255, 255, 255, 0.5);font-size:14px; white-space: normal;position:relative;padding: 3px 3px 3px 20px;}
.block.block_schools_menu .user-left_menu .dropdown-menu a:hover{color: #fff;background:none;}
.block.block_schools_menu .user-left_menu .dropdown-menu a .fa{font-size: 18px;left: 7px;position: absolute;top: 4px;}

.block.block_schools_menu .user-left_menu .notifi{background-color: #f96b5d;border-radius: 50%;color: #fff;font: 600 9px/18px arial;text-align:center;height:19px;width:19px;left: 8px;position: absolute;top: 12px;}

/* @media screen and (max-width : 1200px) {
	.user-left_menu .item-content-wrap{display:none;}
}

@media screen and (max-width: 650px) {
	.user-left_menu .item-content-wrap{display:inline;}
} */
