a.button{
    -moz-user-select: none;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin: 0 0 3px 5px;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
a.button:hover{
	text-decoration:none;
	color:#333;
	border-color:#adadad;
	background-color:#ebebeb;
}